<form 
	class="single-finder__form" 
	id="finder"
	@submit.prevent="submitHandler"
>
	<div class="single-finder__form-item">
		<span class="single-finder__form-input-icon single-finder__form-input-icon--map-marker">
			<svg xmlns="http://www.w3.org/2000/svg" width="12" height="19" viewBox="0 0 12 19" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M5.77347 0.122131C8.80285 0.122131 11.2564 2.59894 11.2564 5.65261C11.2564 8.24755 8.26216 14.7388 7.12029 17.1763C6.45274 18.6017 5.10396 18.6017 4.43445 17.1763C3.34333 14.8471 0.288574 8.06839 0.288574 5.65261C0.288574 2.59697 2.74409 0.122131 5.77152 0.122131L5.77347 0.122131ZM5.77347 2.18745C7.61413 2.18745 9.10539 3.69165 9.10539 5.54826C9.10539 7.40488 7.61413 8.90908 5.77347 8.90908C3.93281 8.90908 2.44154 7.40488 2.44154 5.54826C2.44154 3.69165 3.93281 2.18745 5.77347 2.18745Z" fill="#B7B7B7"/>
			</svg>
		</span>
		<input 
			type="text" 
			class="single-finder__form-input single-finder__form-input--text" 
			placeholder="Все отели"
			v-model="query"
		>
	</div>
	<div class="single-finder__form-item">	
		<span class="single-finder__form-input-icon single-finder__form-input-icon--calendar">
			<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
				<path d="M16.6362 1.62966H15.788V0.242157H14.3743V1.62966H5.04403V0.242157H3.63035V1.62966H2.78214C1.61289 1.62966 0.661621 2.56331 0.661621 3.71091V15.9209C0.661621 17.0685 1.61289 18.0022 2.78214 18.0022H16.6362C17.8055 18.0022 18.7567 17.0685 18.7567 15.9209V3.71091C18.7567 2.56331 17.8055 1.62966 16.6362 1.62966ZM17.343 15.9209C17.343 16.3034 17.0259 16.6147 16.6362 16.6147H2.78214C2.39239 16.6147 2.0753 16.3034 2.0753 15.9209V6.76341H17.343V15.9209ZM17.343 5.37591H2.0753V3.71091C2.0753 3.32837 2.39239 3.01716 2.78214 3.01716H3.63035V4.40466H5.04403V3.01716H14.3743V4.40466H15.788V3.01716H16.6362C17.0259 3.01716 17.343 3.32837 17.343 3.71091V5.37591Z" fill="#B7B7B7"/>
				<path d="M4.76134 8.22028H3.34766V9.60778H4.76134V8.22028Z" fill="#B7B7B7"/>
				<path d="M7.58848 8.22028H6.1748V9.60778H7.58848V8.22028Z" fill="#B7B7B7"/>
				<path d="M10.4161 8.22028H9.00244V9.60778H10.4161V8.22028Z" fill="#B7B7B7"/>
				<path d="M13.2433 8.22028H11.8296V9.60778H13.2433V8.22028Z" fill="#B7B7B7"/>
				<path d="M16.0709 8.22028H14.6572V9.60778H16.0709V8.22028Z" fill="#B7B7B7"/>
				<path d="M4.76134 10.9953H3.34766V12.3828H4.76134V10.9953Z" fill="#B7B7B7"/>
				<path d="M7.58848 10.9953H6.1748V12.3828H7.58848V10.9953Z" fill="#B7B7B7"/>
				<path d="M10.4161 10.9953H9.00244V12.3828H10.4161V10.9953Z" fill="#B7B7B7"/>
				<path d="M13.2433 10.9953H11.8296V12.3828H13.2433V10.9953Z" fill="#B7B7B7"/>
				<path d="M4.76134 13.7703H3.34766V15.1578H4.76134V13.7703Z" fill="#B7B7B7"/>
				<path d="M7.58848 13.7703H6.1748V15.1578H7.58848V13.7703Z" fill="#B7B7B7"/>
				<path d="M10.4161 13.7703H9.00244V15.1578H10.4161V13.7703Z" fill="#B7B7B7"/>
				<path d="M13.2433 13.7703H11.8296V15.1578H13.2433V13.7703Z" fill="#B7B7B7"/>
				<path d="M16.0709 10.9953H14.6572V12.3828H16.0709V10.9953Z" fill="#B7B7B7"/>
			</svg>
		</span>
		<v-date-picker 
			mode='range' 
			:min-date='new Date()'
			v-model='range'
			:popover="{placement: 'bottom'}"
			:input-props="{readonly: true}"
		></v-date-picker>
	</div>
	<div class="single-finder__form-item">
		<button type="submit" class="mbtn">Найти</button>
	</div>
</form>
<script src="/site/theme/js/finder.js"></script>