<div class="form__title">Оформление заявки</div>
<div class="form__body">
	<form data-action="2" class="superform js-superform">
		<div class="
			form-group
			type_string
			field_name
								required
				">
			<input class="form-control" name="field_name" placeholder="Имя" required="" type="text" value="">
		</div>
		<div class="
			form-group
			type_email
			field_email
								required
				">
			<input class="form-control" name="field_email" placeholder="E-mail" required="" type="email" value="">
		</div>
		<div class="
			form-group
			type_string
			field_phone
						">
			<input class="form-control" name="field_phone" placeholder="Телефон" type="text" value="">
		</div>
		<div class="
			form-group
			type_string
			field_object_name
						">
			<input class="form-control" name="field_object_name" placeholder="Название отеля" type="text" value="">
		</div>
		<div class="
			form-group
			type_string
			field_object_city
						">
			<input class="form-control" name="field_object_city" placeholder="Город" type="text" value="">
		</div>
		<div class="
			form-group
			type_string
			field_object_site
						">
			<input class="form-control" name="field_object_site" placeholder="Ссылка на сайт (если есть)" type="text" value="">
		</div>
		<div class="
			form-group
			type_checkbox
			field_policy
								required
				">
			<input name="field_policy" type="hidden" value="">
			<div class="checkbox">
				<label>
					<span class="checkbox-switch"></span>
					<input name="field_policy" type="checkbox" value="1" required="">
					Вы принимаете положения <a href="/policy" target="_blank">Политики конфиденциальности</a>
				</label>
			</div>
		</div>
		<div class="form-group">
			<input class="mbtn" type="submit" value="Отправить заявку">
		</div>
	</form>
</div>