{% set homepage = page %}
{% set index = page %}
{% set check = true %}
{% for items in 1..10 if check %}
	{% if index.parent_page|length > 0 %}
		{% set index = index.parent_page %}
		{% set homepage = index %}
	{% else %}
		{% set check = false %}
	{% endif %}
{% endfor %}	

{% set items = [] %}

{% for subpage1 in homepage.active_sub_pages %}
		{% set items = items|merge([subpage1]) %}
	{% if subpage1.active_sub_pages|length > 0 %}
		{% for subpage2 in subpage1.active_sub_pages %}
				{% set items = items|merge([subpage2]) %}
			{% if subpage2.active_sub_pages|length > 0 %}
				{% for subpage3 in subpage2.active_sub_pages %}
						{% set items = items|merge([subpage3]) %}
					{% if subpage3.active_sub_pages|length > 0 %}
						{% for subpage4 in subpage3.active_sub_pages %}
								{% set items = items|merge([subpage4]) %}
							{% if subpage4.active_sub_pages|length > 0 %}
								{% for subpage5 in subpage4.active_sub_pages %}
										{% set items = items|merge([subpage5]) %}
									{% if subpage5.active_sub_pages|length > 0 %}
										{% for subpage6 in subpage5.active_sub_pages %}
												{% set items = items|merge([subpage6]) %}
										{% endfor %}
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}

{% set curItems = [] %}
{% set orders = [] %}
{% set curLayouts = [4] %}

{% for item in items %}
	{% if item.layout_id in curLayouts %}
		{% set curItems = curItems|merge([item]) %}
		{% set orders = orders|merge([item.order]) %}
	{% endif %}
{% endfor %}

{% set sortedOrders = orders|sort|reverse %}
{% set sortedItems = [] %}
{% set sortedIDs = [] %}

{% for order in sortedOrders %}
	{% for item in curItems %}
		{% if item.order == order and item.id not in sortedIDs %}
			{% set sortedItems = sortedItems|merge([item]) %}
			{% set sortedIDs = sortedIDs|merge([item.id]) %}
		{% endif %}
	{% endfor %}
{% endfor %}

<div class="scatalog">
	{% for item in sortedItems %}
		<div class="scatalog-item">
			<div class="scatalog-item__gallery" data-gallery="{$ item.field_gallery $}" data-href="{$ item.path $}">
				
			</div>
			<a href="{$ item.path $}" class="scatalog-item__price">
				<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.57013 6.04312C5.93917 6.73448 4.87058 6.75327 4.21681 6.0995C3.58048 5.46318 3.58183 4.43486 4.21815 3.79853C4.87192 3.14476 5.94052 3.16221 6.57147 3.85357C7.13127 4.46573 7.12993 5.43096 6.57013 6.04446V6.04312ZM8.47238 0.722973L3.87314 0.406154C3.01128 0.347086 2.22326 0.673303 1.66346 1.23176L1.65675 1.23848C1.09963 1.79694 0.77207 2.5863 0.829796 3.44815L1.14393 8.05277C1.21105 9.03008 1.62856 9.94966 2.32126 10.6424L13.4126 21.7337C13.967 22.2881 14.8678 22.2881 15.4223 21.7337L22.1506 15.0053C22.7064 14.4496 22.7064 13.5488 22.1506 12.9943L11.0579 1.90165C10.3666 1.21028 9.44835 0.792781 8.47238 0.724316V0.722973Z" fill="#14C5D0"/>
				</svg>
				<span class="scatalog-item__price-text">от {$ item.field_prices|split(',')[0] $}</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="12" height="15" viewBox="0 0 12 15" fill="none">
					<path d="M7.59585 0.164001H3.20259C2.74955 0.164001 2.38227 0.531283 2.38227 0.984314V7.19315H1.44531C0.992281 7.19315 0.625 7.56043 0.625 8.01346C0.625 8.46649 0.992281 8.83378 1.44531 8.83378H2.38227V10.7078H1.44531C0.992281 10.7078 0.625 11.075 0.625 11.5281C0.625 11.9811 0.992281 12.3484 1.44531 12.3484H2.38227V14.164C2.38227 14.617 2.74955 14.9843 3.20259 14.9843C3.65562 14.9843 4.0229 14.617 4.0229 14.164V12.3484H7.59585C8.04888 12.3484 8.41616 11.9811 8.41616 11.5281C8.41616 11.075 8.04888 10.7078 7.59585 10.7078H4.0229V8.83378H7.59585C9.98613 8.83378 11.9308 6.88914 11.9308 4.49886C11.9307 2.04952 9.93555 0.164001 7.59585 0.164001ZM7.59585 7.19315H4.0229V1.80463H7.59585C9.07252 1.80463 10.2901 2.99572 10.2901 4.49892C10.2901 5.98456 9.08149 7.19315 7.59585 7.19315Z" fill="#6A6A6A"/>
				</svg>
			</a>
			<a href="{$ item.path $}" class="scatalog-item__info">
				<div class="scatalog-item__info-main">
					<div class="scatalog-item__title">{$ item.field_header $}</div>
					{% if item.field_address %}
					<div class="scatalog-item__address">
						<svg xmlns="http://www.w3.org/2000/svg" width="12" height="19" viewBox="0 0 12 19" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M5.77347 0.122131C8.80285 0.122131 11.2564 2.59894 11.2564 5.65261C11.2564 8.24755 8.26216 14.7388 7.12029 17.1763C6.45274 18.6017 5.10396 18.6017 4.43445 17.1763C3.34333 14.8471 0.288574 8.06839 0.288574 5.65261C0.288574 2.59697 2.74409 0.122131 5.77152 0.122131L5.77347 0.122131ZM5.77347 2.18745C7.61413 2.18745 9.10539 3.69165 9.10539 5.54826C9.10539 7.40488 7.61413 8.90908 5.77347 8.90908C3.93281 8.90908 2.44154 7.40488 2.44154 5.54826C2.44154 3.69165 3.93281 2.18745 5.77347 2.18745Z" fill="#14C5D0"/>
						</svg>
						{$ item.field_address $}
					</div>
					{% endif %}
				</div>
				<!--div class="scatalog-item__info-action">
					<a href="{$ item.path $}" class="scatalog-item__link">Подробнее</a>
				</div-->
			</a>
		</div>
	{% endfor %}
</div>
<script>
	const items = $('.scatalog-item')
	for(let i = 0; i < items.length; i++) {
		const gallery = $(items[i]).find('.scatalog-item__gallery'),
			  data = $(gallery.attr('data-gallery')) || null,
			  href = gallery.attr('data-href')
		if (data) {
			gallery.removeAttr('data-gallery')
			let imgs = []
			for(let k = 0; k < data.length; k++) {
				if($(data[k]).is('img')) imgs.push(`<a href="${href}" class="scatalog-item__gallery-item">${data[k].outerHTML}</a>`)
			}
			if (imgs.length > 0) {
				const html = imgs.join('')
				gallery.html(html)
			} else {
				gallery.html('<a href="${href}" class="scatalog-item__gallery-item scatalog-item__gallery-item--noimage"><img src="/site/theme/images/noimage.png"></a>')
			}
			if (imgs.length > 1) {
				gallery.slick({
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows: true,
					dots: true,
					responsive: [
						{
							breakpoint: 768,
							settings: {
								arrows: true,
								swipe: false
							}
						}
					]
				})
			}
		} else {
			gallery.html(`<a href="${href}" class="scatalog-item__gallery-item scatalog-item__gallery-item--noimage"><img src="/site/theme/images/noimage.png"></a>`)
		}
	}
	
	$('.scatalog').slick({
		slidesToShow: 4,
		slidesToScroll: 4,
		swipe: false,
		infinite: false,
		responsive: [
			{
				breakpoint: 768,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 2,
					swipe: true,
					variableWidth: true
				}
			},
			{
				breakpoint: 480,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1,
					swipe: true
				}
			}
		]
	})
</script>