<div class="vfb">
	<div class="vfb__title">
		Уже были здесь? <br>Расскажите об этом!
	</div>
	<div class="vfb__main">
		<div class="vfb-form">
			<div class="vfb-form__group vfb-form__group--grid">
				<div class="vfb-form__input">
					<input type="text" placeholder="Имя">
				</div>
				<div class="vfb-form__input">
					<input type="email" placeholder="E-mail">
				</div>
			</div>
			<div class="vfb-form__group">
				<div class="vfb-form__input vfb-form__input--area">
					<textarea placeholder="Вот, что я думаю..."></textarea>
				</div>
			</div>
			<div class="vfb-form__group vfb-form__group--grid">
				<div class="vfb-form__warn">
					*Все отзывы проходят модерацию <br>в течение 24 часов с момента отправки
				</div>
				<div class="vfb-form__action">
					<button style="    background: none;
    border: none;" class="vfb-form__submitbtn" type="button">ДОБАВИТЬ ОТЗЫВ</button>
				</div>
			</div>
		</div>
	</div>
</div>