{% set homepage = page %}
{% set index = page %}
{% set check = true %}
{% for items in 1..10 if check %}
	{% if index.parent_page|length > 0 %}
		{% set index = index.parent_page %}
		{% set homepage = index %}
	{% else %}
		{% set check = false %}
	{% endif %}
{% endfor %}	

{% set items = [] %}

{% for subpage1 in homepage.active_sub_pages %}
		{% set items = items|merge([subpage1]) %}
	{% if subpage1.active_sub_pages|length > 0 %}
		{% for subpage2 in subpage1.active_sub_pages %}
				{% set items = items|merge([subpage2]) %}
			{% if subpage2.active_sub_pages|length > 0 %}
				{% for subpage3 in subpage2.active_sub_pages %}
						{% set items = items|merge([subpage3]) %}
					{% if subpage3.active_sub_pages|length > 0 %}
						{% for subpage4 in subpage3.active_sub_pages %}
								{% set items = items|merge([subpage4]) %}
							{% if subpage4.active_sub_pages|length > 0 %}
								{% for subpage5 in subpage4.active_sub_pages %}
										{% set items = items|merge([subpage5]) %}
									{% if subpage5.active_sub_pages|length > 0 %}
										{% for subpage6 in subpage5.active_sub_pages %}
												{% set items = items|merge([subpage6]) %}
										{% endfor %}
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}



{% set curItems = [] %}
{% set curLayouts = [11, 20, 22, 27, 17, 24, 26] %}

{% for item in items %}
	{% if item.layout_id in curLayouts %}
		{% set curItems = curItems|merge([item]) %}
	{% endif %}
{% endfor %}

{% set items = curItems %}

{% if request.input.ids %}
	{% set ids = request.input.ids|split(',') %}
	{% set itemsByIDs = [] %}

	{% for id in ids %}
		{% for item in items %}
			{% if item.id == id %}
				{% set itemsByIDs = itemsByIDs|merge([item]) %}
			{% endif %}
		{% endfor %}
	{% endfor %}

	{% set items = itemsByIDs %}
		
{% endif %}

{# --------------------- cat filter -------------------------------- #}

{% if request.input.cat %}
	{% set cat = request.input.cat %}
	{% set catFiltered = [] %}

	{% for item in curItems %}
		{% if cat|length > 0 %}
			{% if item.layout_id == cat %}
				{% set catFiltered = catFiltered|merge([item]) %}
			{% endif %}
		{% endif %}
	{% endfor %}

	{% set items = catFiltered %}		

{% endif %}

{# ------------------------- cat filter end --------------------------- #}

{# --------------------- city filter -------------------------------- #}

{% if request.input.city %}
	{% set city = request.input.city %}
	{% set cityFiltered = [] %}

	{% for item in items %}
		{% if city|length > 0 %}
			{% if item.parent_page.parent_page.id == city %}
				{% set cityFiltered = cityFiltered|merge([item]) %}
			{% endif %}
		{% endif %}
	{% endfor %}

	{% set items = cityFiltered %}		

{% endif %}

{# ------------------------- city filter end --------------------------- #}

{# ------------------------- tags filter --------------------------- #}

{% if request.input.tags %}
	{% set reqTags = request.input.tags|split(',') %}
	{% set tagItems = [] %}
	
	{% for item in items %}
		{% for reqTag in reqTags %}
			
			{% set tagFinded = false %}
			{% set tagInHeader = false %}
			{% set tagInFilters = false %}

			{% if item.field_tags and not tagFinded %}
				{% set itemTags = item.field_tags|split(',') %}
				{% for t in itemTags %}
					{% if t|lower|trim == reqTag|lower|trim %}
						{% set tagItems = tagItems|merge([item]) %}
						{% set tagFinded = true %}
						Header: {$ item.field_header $}<br>Tags: {$ item.field_tags $}<br>Filters: {$ item.field_filters $}<br>Finded by: tags<hr>
					{% endif %}
				{% endfor %}
			{% endif %}

			{% if (reqTag|lower|trim in item.field_header|lower) and not tagFinded %}
				{% set tagItems = tagItems|merge([item]) %}
				{% set tagFinded = true %}
				Header: {$ item.field_header $}<br>Tags: {$ item.field_tags $}<br>Filters: {$ item.field_filters $}<br>Finded by: header<hr>
			{% endif %}
			
			{# ------------------
			{% if (reqTag|lower|trim in item.field_filters|lower) and not tagFinded %}
				{% set tagItems = tagItems|merge([item]) %}
				{% set tagFinded = true %}
				Header: {$ item.field_header $}<br>Tags: {$ item.field_tags $}<br>Filters: {$ item.field_filters $}<br>Finded by: filters<hr>
			{% endif %}
			---------------------- #}
			
		{% endfor %}
	{% endfor %}
{#
	{% for ti in tagItems %}
		{$ ti.field_header $}<br>
	{% endfor %}
#}
	{% set items = tagItems %}

{% endif %}

{# ------------------------- tags filter end --------------------------- #}

{% if request.input.query %}
	{% set query = request.input.query|split(' ') %}
	{% set results = [] %}

	{% for item in items %}
		{% if query|length > 0 %}
			{% for que in query %}
				{% if que|slice(0, -1)|length >= 3 and que|slice(0, -1)|lower in item.field_header|lower %}
					{% set results = results|merge([item]) %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}

	{% set items = results %}		

{% endif %}

{% set uniqResults = [] %}
{% set uniqIDs = [] %}

{% if items|length > 0 %}
	{% for item in items %}
		{% if item.id not in uniqIDs %}
			{% set uniqResults = uniqResults|merge([item]) %}
			{% set uniqIDs = uniqIDs|merge([item.id]) %}
		{% endif %}
	{% endfor %}
{% endif %}

{% set items = uniqResults %}
Results: {$ items|length $}
<div id="ajax-answer" data-answer="{$ uniqResults|json_encode() $}" {% if results|length == 0 and query[0] != '' %}data-empty="1"{% endif %}></div>