{% include 'header' %}

<section class="article">
	<div class="article-top">
		<div class="article-top__img">
			<img src="/site/data/images/large/{$ page.field_image $}">
		</div>
	</div>
	<div class="article-mid">
		<div class="cont_blog">
			<h1 class="article__title">{$ page.field_header $}</h1>
			<div class="article__summary">
				{$ page.field_summary $}
			</div>
			<div class="article__content">
				{$ page.field_content|raw $}
			</div>
			<div class="article__tags">
				{% set tags = page.field_tags|split(',') %}
			    {% for tag in tags %}<a href="{$ page.parent_page.path $}?tags={$ tag|trim $}">#{$ tag|trim $}</a>&nbsp;&nbsp;&nbsp;{% endfor %}
			</div>
		</div>
	</div>
</section>

{% include 'footer' %}