<div class="blog_item">
	<div class="item_category-name">
				<a href="/">{$ page.field_hashtag $}</a> 
			</div>

	{% if page.field_header|default('') %}
		<h1>{$ page.field_header $}</h1>
	{% endif %}


	{% if page.field_image|default('') %}
	<div class="blog_image">
		<div class="block position-banner_parallax">
			<div class="position-parallax">
		<img data-rel="images" data-popup="/site/data/images/large/{$ page['field_image' ~ index] $}" src="/site/data/images/large/{$ page['field_image' ~ index] $}">
			</div>
		 </div>
	</div>
	{% endif %}



	<div class="group_image">		

			{% if page.field_image|default('')
			or page.field_image2|default('')
			or page.field_image3|default('')
			or page.field_image4|default('')
			or page.field_image5|default('')
			or page.field_image6|default('')
		%}
			<div class="images col-sm-12 col-md-12">
				<div class="row">
					{% for i in 2..6 %}
						{% set index = i > 1 ? i : '' %}
						{% if page['field_image' ~ index]|default('') %}
							<div class="col-xs-6 col-md-2 col-sm-2">
								<div class="field_image{$ index $}">
									<img data-rel="images" data-popup="/site/data/images/large/{$ page['field_image' ~ index] $}" src="/site/data/images/medium/{$ page['field_image' ~ index] $}">
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endif %}

		</div>	



	{% if page.field_content|default('')|striptags %}
		<div class="field_content">
			<h2>Описание</h2>
			{$ page.field_content|raw $}
		</div>
	{% endif %}
	
	
	<div class="social">
<script type="text/javascript">
<!--
//document.write(VK.Share.button());
document.write(VK.Share.button({url: 'http://ru.holiday{$ page.path $}', title: '{$ page.field_header $}', description:'{$ page.field_summary $}', image:'http://ru.holiday/site/data/images/medium/{$ page.field_image $}' }, {type: 'custom', text: '<i class="fa fa-vk" aria-hidden="true"></i>'})); 
-->
</script>	

<a onClick="openWin2()">
 <i class="fa fa-facebook" aria-hidden="true"></i>
</a>
<script><!-- hide
function openWin2() {
myWin=open("http://www.facebook.com/sharer.php?u=http://ru.holiday{$ page.path $}","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
}
// -->
</script>
	
<a href="https://plus.google.com/share?url=http://ru.holiday{$ page.path $}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
	<i class="fa fa-google-plus" aria-hidden="true"></i>
</a>	
		
<a href="https://twitter.com/intent/tweet?hashtags=ruholiday&amp;original_referer=http://ru.holiday{$ page.path $}&amp;ref_src=twsrc%5Etfw&amp;related=&amp;text={$ page.field_header $}&amp;tw_p=tweetbutton&amp;url=http://ru.holiday{$ page.path $}" target="_blank">
	<i class="fa fa-twitter" aria-hidden="true"></i>
</a>
	
<a href="http://connect.mail.ru/share?url=http://ru.holiday{$ page.path $}&title={$ page.field_header $}&description={$ page.field_summary $}&imageurl=http://ru.holiday/site/data/images/medium/{$ page.field_image $}">
	<i class="fa fa-at" aria-hidden="true"></i>
</a>
	
</div>	

	<!--<div id="vk_like_{$ page.id $}"></div>
	<script type="text/javascript">
		VK.init({apiId: 5466329, onlyWidgets: true});
		VK.Widgets.Like("vk_like_{$ page.id $}", {type: "vertical", pageTitle:"{$ page.field_header $}", pageDescription:"{$ page.field_summary $}" }, {$ item.id $});
	</script>-->

	
<div class="like">
	<!--vk-->
	<div id="vk_like"></div>
	<script type="text/javascript">
		VK.init({apiId: 5466329, onlyWidgets: true});
		VK.Widgets.Like("vk_like", {type: "button",height: 20});
	</script>
	<!--f-->
	<div class="fb-like" data-href="{$ page.path $}" data-width="24" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
	<!--mail-->
	<div style="width: 130px;">
	<a target="_blank" class="mrc__plugin_uber_like_button" href="http://connect.mail.ru/share" data-mrc-config="{'cm' : '1', 'sz' : '20', 'st' : '2', 'tp' : 'mm'}">Нравится</a>
<script src="https:/connect.mail.ru/js/loader.js" type="text/javascript" charset="UTF-8"></script>
	</div>
	<!--ok-->
	<div id="ok_shareWidget"></div>
		<script>
		!function (d, id, did, st) {
		  var js = d.createElement("script");
		  js.src = "https://connect.ok.ru/connect.js";
		  js.onload = js.onreadystatechange = function () {
		  if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
			if (!this.executed) {
			  this.executed = true;
			  setTimeout(function () {
				OK.CONNECT.insertShareWidget(id,did,st);
			  }, 0);
			}
		  }};
		  d.documentElement.appendChild(js);
		}(document,"ok_shareWidget",document.URL,"{width:145,height:30,st:'rounded',sz:20,ck:1}");
		</script>

	
	
</div>
		
	
</div>