{% include 'header' %}
<section class="phero">
	<div class="phero-bg">
		<video autoplay height="100%" width="100%" loop>
			<source src="/site/data/files/{$ page.field_videobg $}">
		</video>
	</div>
	<div class="cont">
		<div class="phero__wrapper">
			<div class="phero-item">
				<h1>Сделай апгрейд гостиничного бизнеса <span class="highlight highlight--teal">уже сейчас!</span></h1>
				<h3>Полная поддержка и сопровождение в сфере <span class="highlight highlight--teal">online-продаж</span> гостиничных услуг.</h3>
				<p>Мы успешно разрабатываем, внедряем и сопровождаем онлайн-сервисы для гостиниц, <br>отелей, домов отдыха и хостелов.</p>
			</div>
			<div class="phero-item">
				<div class="phero-icons">
					<div class="phero-icontext">
						<div class="phero-icontext__text">
							<ul class="phero-icontext__list">
								<li class="phero-icontext__list-item">
									<span class="phero-icontext__list-item-marker">
										<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#14C5D0"/>
										</svg>
									</span>
									Отели
								</li>
								<li class="phero-icontext__list-item">
									<span class="phero-icontext__list-item-marker">
										<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#14C5D0"/>
										</svg>
									</span>
									Гостиницы
								</li>
							</ul>
						</div>
					</div>
					<div class="phero-icontext">
						<div class="phero-icontext__text">
							<ul class="phero-icontext__list">
								<li class="phero-icontext__list-item">
									<span class="phero-icontext__list-item-marker">
										<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#14C5D0"/>
										</svg>
									</span>
									Загородные отели
								</li>
							</ul>
						</div>
					</div>
					<div class="phero-icontext">
						<div class="phero-icontext__text">
							<ul class="phero-icontext__list">
								<li class="phero-icontext__list-item">
									<span class="phero-icontext__list-item-marker">
										<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#14C5D0"/>
										</svg>
									</span>
									Базы отдыха
								</li>
								<li class="phero-icontext__list-item">
									<span class="phero-icontext__list-item-marker">
										<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#14C5D0"/>
										</svg>
									</span>
									Санатории
								</li>
							</ul>
						</div>
					</div>
					<div class="phero-icontext">
						<div class="phero-icontext__text">
							<ul class="phero-icontext__list">
								<li class="phero-icontext__list-item">
									<span class="phero-icontext__list-item-marker">
										<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#14C5D0"/>
										</svg>
									</span>
									Мини-отели
								</li>
								<li class="phero-icontext__list-item">
									<span class="phero-icontext__list-item-marker">
										<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#14C5D0"/>
										</svg>
									</span>
									Хостелы
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="phero__action">
				<a href="#" class="mbtn js-partner-form">Оставить заявку</a>
			</div>
		</div>
	</div>
</section>
			
<section class="pabout">
	<div class="cont">
		<h2 class="section-title">РАЗРАБОТКА. ИНТЕГРАЦИЯ. ПРОДВИЖЕНИЕ</h2>
		<div class="section-subtitle">Мы предлагаем полный комплекс услуг по сопровождению гостиничного бизнеса в сети Интернет</div>
		<div class="pabout__wrapper">
			<div class="pabout-item">
				<div class="pabout-text">С каждым мы работаем в индивидуальном порядке, чтобы максимально эффективно оказать услуги по развитию вашего бизнеса.<br><br>
					Создадим и настроим сайт. Подключим ваше доменное имя или зарегистрируем его.  <br><br>
					Настроим систему аналитики и запустим рекламу.   <br><br>
					Подключим модуль бронирования и необходимые сервисы.

				</div>
			</div>
			<div class="pabout-item">
				<div class="pabout-img">
					<img src="/site/theme/images/promo1.jpg">
				</div>
			</div>
		</div>
	</div>
</section>
			
<section class="pcards">
	<div class="cont">
		<div class="pcards__wrapper">
			<div class="pcard">
				<div class="pcard-item pcard-item--top">
					<div class="pcard__icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="122" height="97" viewBox="0 0 122 97" fill="none">
							<path d="M8.96463 0H89.4611C91.9245 0 94.1471 1.00019 95.7771 2.63012C97.407 4.26005 98.4072 6.48269 98.4072 8.94611V16.892C97.0736 16.0771 95.6845 15.3362 94.2397 14.6694V8.94611C94.2397 7.63105 93.7026 6.42712 92.8321 5.57511C91.9616 4.70458 90.7761 4.16744 89.4426 4.16744H8.94611C7.63105 4.16744 6.44564 4.70458 5.57511 5.57511C4.70458 6.44564 4.16744 7.63105 4.16744 8.94611V18.4108H51.3984C49.6018 19.6703 47.8978 21.0595 46.3234 22.5783H4.16744V70.7354C4.16744 72.0504 4.70458 73.2544 5.57511 74.1249C6.44564 74.9954 7.63105 75.5326 8.94611 75.5326H38.822C39.6555 76.9773 40.5816 78.3664 41.5818 79.7H8.94611C6.48269 79.7 4.24153 78.6998 2.63012 77.0699C1.01871 75.44 0 73.2173 0 70.7539V8.98315C0 6.51973 1.00019 4.27857 2.63012 2.66716C4.26005 1.05575 6.48269 0.0370448 8.94611 0.0370448L8.96463 0ZM80.0149 13.9656C100.463 15.9659 116.077 33.1914 116.077 53.7693C116.077 58.6961 115.151 63.66 113.373 68.272L109.446 66.8643C110.798 63.4192 111.632 59.7148 111.854 55.8437H96.6661C96.5735 57.9552 96.3698 60.0482 96.0364 62.0671L92.0542 60.6409C92.2764 59.0665 92.4431 57.4737 92.4987 55.8437H76.9958V65.8456C77.8293 65.8641 78.6443 65.9011 79.4592 65.9567L82.0153 70.3835C80.3668 70.1797 78.6998 70.0501 76.9958 70.013V87.72C80.6261 84.8491 83.6637 81.3299 86.0716 77.3848L88.4053 81.4226C86.4791 84.2564 84.2379 86.868 81.7004 89.1647C85.0158 88.6461 88.2016 87.6645 91.2021 86.2568L93.2951 89.8686C89.1647 91.8504 84.6824 93.1099 80.0149 93.5544C77.3662 93.8137 74.7732 93.8137 72.1245 93.5544C51.6763 91.5541 36.0623 74.3286 36.0623 53.7507C36.0623 33.2099 51.6207 15.9474 72.1245 13.947C74.7732 13.6877 77.3662 13.6877 80.0149 13.947V13.9656ZM88.535 67.1236L99.3148 85.7752L101.519 83.1266C102.26 82.2375 103.575 82.1264 104.445 82.8673L114.503 91.2577L116.929 88.3498L106.872 79.9593C105.983 79.2184 105.872 77.9034 106.612 77.0328L108.817 74.3842L88.535 67.1236V67.1236ZM97.2033 90.4427L82.1079 64.3083C81.8115 63.7896 81.7374 63.1599 81.9412 62.5672C82.3301 61.4929 83.5155 60.9187 84.5898 61.3077L112.891 71.4392C113.151 71.5133 113.41 71.643 113.632 71.8467C114.521 72.5876 114.632 73.9026 113.892 74.7732L111.113 78.1071L121.171 86.4976C122.06 87.2384 122.171 88.5535 121.43 89.424L116.336 95.5363C115.596 96.4253 114.281 96.5365 113.41 95.7956L103.353 87.4051L100.574 90.7391C100.426 90.9243 100.241 91.0725 100.019 91.2022C99.0184 91.7763 97.7589 91.4429 97.1847 90.4427H97.2033ZM40.3038 51.6948H53.2692C53.4729 46.7124 54.3805 41.9522 55.8808 37.5255C52.7691 36.1549 49.8611 34.4879 47.2125 32.5431C43.2117 37.97 40.7113 44.5453 40.3038 51.6948ZM57.4366 51.6948H72.8654V41.6003C68.272 41.3225 63.8823 40.4334 59.7704 39.0258C58.4553 42.9895 57.6404 47.2495 57.4551 51.6948H57.4366ZM77.0143 51.6948H92.5172C92.332 47.4903 91.6096 43.4525 90.4057 39.6555C86.1827 40.8965 81.6819 41.6003 77.0143 41.6929V51.6948V51.6948ZM96.6846 51.6948H111.873C111.465 44.5453 108.965 37.97 104.964 32.5431C101.76 34.8769 98.1849 36.8402 94.3324 38.3219C95.6845 42.5264 96.4809 47.0087 96.6846 51.6948V51.6948ZM72.8654 55.8622H57.4366C57.6218 60.3075 58.4368 64.5676 59.7519 68.5313C63.8637 67.1236 68.272 66.2345 72.8469 65.9567V55.8622H72.8654ZM53.2877 55.8622H40.3223C40.7298 63.0117 43.2303 69.587 47.231 75.014C49.8796 73.0877 52.7876 71.4022 55.8993 70.0315C54.399 65.6048 53.4914 60.8261 53.2877 55.8437V55.8622ZM72.8654 87.6644V70.1242C68.8091 70.402 64.901 71.1799 61.2707 72.4024C63.8823 78.3109 67.8089 83.6267 72.8654 87.6644ZM72.8654 37.4329V19.8926C67.8089 23.9119 63.8637 29.2462 61.2707 35.1547C64.9195 36.3771 68.8091 37.1736 72.8654 37.4329ZM77.0328 19.837V37.544C81.2003 37.4699 85.201 36.8402 88.9795 35.7659C86.3679 29.5981 82.3116 24.0045 77.0328 19.837ZM67.6422 88.6091C63.271 84.4787 59.8074 79.4222 57.3996 73.9026C54.7139 75.1066 52.1949 76.5513 49.8796 78.1997C54.6583 83.3303 60.8261 86.9606 67.6422 88.5905V88.6091ZM57.3996 33.6359C59.8074 28.1349 63.271 23.0784 67.6422 18.9294C60.8261 20.5779 54.6583 24.2082 49.8796 29.3203C52.1949 30.9872 54.6954 32.432 57.3996 33.6174V33.6359ZM81.7189 18.3738C86.5902 22.8005 90.3872 28.3571 92.9062 34.4323C96.3142 33.0987 99.4629 31.3947 102.315 29.3388C96.8699 23.4858 89.6278 19.6148 81.7189 18.3738V18.3738ZM11.9467 7.42731C14.0396 7.42731 15.7251 9.1128 15.7251 11.2058C15.7251 13.2988 14.0396 14.9843 11.9467 14.9843C9.85369 14.9843 8.16819 13.2988 8.16819 11.2058C8.16819 9.1128 9.85369 7.42731 11.9467 7.42731ZM23.9674 7.42731C26.0604 7.42731 27.7459 9.1128 27.7459 11.2058C27.7459 13.2988 26.0604 14.9843 23.9674 14.9843C21.8744 14.9843 20.1889 13.2988 20.1889 11.2058C20.1889 9.1128 21.8744 7.42731 23.9674 7.42731ZM35.8585 7.42731C37.9515 7.42731 39.637 9.1128 39.637 11.2058C39.637 13.2988 37.9515 14.9843 35.8585 14.9843C33.7655 14.9843 32.08 13.2988 32.08 11.2058C32.08 9.1128 33.7655 7.42731 35.8585 7.42731ZM12.5394 44.5453H33.9693C33.6729 45.9159 33.4321 47.3051 33.2654 48.7128H12.5208C12.2245 48.7128 11.9467 48.8424 11.7614 49.0276C11.5577 49.2314 11.4466 49.4907 11.4466 49.787V67.3644C11.4466 67.6607 11.5762 67.9386 11.7614 68.1238C11.9652 68.3275 12.2245 68.4387 12.5208 68.4387H35.5251C36.0437 69.8648 36.6364 71.254 37.2847 72.6061H12.5208C11.0761 72.6061 9.76108 72.0134 8.81645 71.0688C7.87183 70.1242 7.27913 68.8091 7.27913 67.3644V49.787C7.27913 48.3423 7.87183 47.0273 8.81645 46.0826C9.76108 45.138 11.0761 44.5453 12.5208 44.5453H12.5394ZM11.7059 25.8196H43.2673C42.1375 27.1347 41.1002 28.5238 40.1371 29.9871H11.7059C11.6318 29.9871 11.5577 30.0056 11.5207 30.0611C11.4836 30.0982 11.4466 30.1723 11.4466 30.2464V37.2662C11.4466 37.3403 11.4836 37.3958 11.5207 37.4514C11.5577 37.4885 11.6318 37.5255 11.7059 37.5255H36.1549C35.5992 38.8776 35.1176 40.2667 34.7102 41.6929H11.7059C10.502 41.6929 9.39063 41.1928 8.59419 40.3964C7.79775 39.6 7.29765 38.4886 7.29765 37.2662V30.2464C7.29765 29.0424 7.79775 27.9311 8.59419 27.1347C9.39063 26.3382 10.502 25.8381 11.7059 25.8381V25.8196Z" fill="#14C5D0"/>
						</svg>
					</div>
					<div class="pcard__list">
						<ul>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Разработка сайта
							</li>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Модернизация сайта
							</li>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Техническое обслуживание сайта
							</li>
						</ul>
					</div>
				</div>
				<div class="pcard-item pcard-item--bottom">
					<div class="pcard__special">
						Спец. предложение для новых клиентов
					</div>
					<div class="pcard__offer">
						<span class="pcard__price pcard__price--color-gray">
							60 000 
							<svg xmlns="http://www.w3.org/2000/svg" width="12" height="15" viewBox="0 0 12 15" fill="none">
								<path d="M7.59585 0.164001H3.20259C2.74955 0.164001 2.38227 0.531283 2.38227 0.984314V7.19315H1.44531C0.992281 7.19315 0.625 7.56043 0.625 8.01346C0.625 8.46649 0.992281 8.83378 1.44531 8.83378H2.38227V10.7078H1.44531C0.992281 10.7078 0.625 11.075 0.625 11.5281C0.625 11.9811 0.992281 12.3484 1.44531 12.3484H2.38227V14.164C2.38227 14.617 2.74955 14.9843 3.20259 14.9843C3.65562 14.9843 4.0229 14.617 4.0229 14.164V12.3484H7.59585C8.04888 12.3484 8.41616 11.9811 8.41616 11.5281C8.41616 11.075 8.04888 10.7078 7.59585 10.7078H4.0229V8.83378H7.59585C9.98613 8.83378 11.9308 6.88914 11.9308 4.49886C11.9307 2.04952 9.93555 0.164001 7.59585 0.164001ZM7.59585 7.19315H4.0229V1.80463H7.59585C9.07252 1.80463 10.2901 2.99572 10.2901 4.49892C10.2901 5.98456 9.08149 7.19315 7.59585 7.19315Z" fill="#6A6A6A"/>
							</svg>
						</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="13" viewBox="0 0 32 13" fill="none">
							<path d="M1.14327 7.29405C0.699512 7.29405 0.339844 6.93809 0.339844 6.4989C0.339844 6.05971 0.699512 5.70375 1.14327 5.70375H28.9787L25.765 1.2517C25.5088 0.895738 25.5929 0.400211 25.9539 0.146686C26.3148 -0.106839 26.8142 -0.0236111 27.0704 0.333629L31.1548 5.99313C31.27 6.13142 31.3398 6.30811 31.3398 6.50018C31.3398 6.69224 31.2713 6.86894 31.1548 7.00723L27.0704 12.6667C26.8142 13.0227 26.3136 13.1072 25.9539 12.8537C25.5929 12.6001 25.5088 12.1046 25.765 11.7487L28.9787 7.29661H1.14327V7.29405Z" fill="#B7B7B7"/>
						</svg> 
						<span class="pcard__price pcard__price--color-acc">
							15 000
							<svg xmlns="http://www.w3.org/2000/svg" width="12" height="15" viewBox="0 0 12 15" fill="none">
								<path d="M7.59585 0.164001H3.20259C2.74955 0.164001 2.38227 0.531283 2.38227 0.984314V7.19315H1.44531C0.992281 7.19315 0.625 7.56043 0.625 8.01346C0.625 8.46649 0.992281 8.83378 1.44531 8.83378H2.38227V10.7078H1.44531C0.992281 10.7078 0.625 11.075 0.625 11.5281C0.625 11.9811 0.992281 12.3484 1.44531 12.3484H2.38227V14.164C2.38227 14.617 2.74955 14.9843 3.20259 14.9843C3.65562 14.9843 4.0229 14.617 4.0229 14.164V12.3484H7.59585C8.04888 12.3484 8.41616 11.9811 8.41616 11.5281C8.41616 11.075 8.04888 10.7078 7.59585 10.7078H4.0229V8.83378H7.59585C9.98613 8.83378 11.9308 6.88914 11.9308 4.49886C11.9307 2.04952 9.93555 0.164001 7.59585 0.164001ZM7.59585 7.19315H4.0229V1.80463H7.59585C9.07252 1.80463 10.2901 2.99572 10.2901 4.49892C10.2901 5.98456 9.08149 7.19315 7.59585 7.19315Z" fill="#6A6A6A"/>
							</svg>
						</span>
					</div>
				</div>
			</div>
			<div class="pcard">
				<div class="pcard-item pcard-item--top">
					<div class="pcard__icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="104" height="84" viewBox="0 0 104 84" fill="none">
							<path d="M12.5012 7.79397C14.6909 7.79397 16.4754 9.56883 16.4754 11.7681C16.4754 13.9674 14.7005 15.7423 12.5012 15.7423C10.3019 15.7423 8.52706 13.9674 8.52706 11.7681C8.52706 9.57848 10.3019 7.79397 12.5012 7.79397ZM37.6098 7.79397C39.8091 7.79397 41.5839 9.56883 41.5839 11.7681C41.5839 13.9674 39.8091 15.7423 37.6098 15.7423C35.4201 15.7423 33.6356 13.9674 33.6356 11.7681C33.6356 9.57848 35.4105 7.79397 37.6098 7.79397ZM25.1182 7.79397C27.3078 7.79397 29.0923 9.56883 29.0923 11.7681C29.0923 13.9674 27.3175 15.7423 25.1182 15.7423C22.9285 15.7423 21.144 13.9674 21.144 11.7681C21.144 9.57848 22.9189 7.79397 25.1182 7.79397ZM9.39521 0H93.9231C96.4986 0 98.8522 1.05141 100.55 2.75876H100.56C102.257 4.45645 103.318 6.81007 103.318 9.3952V74.2646C103.318 76.84 102.267 79.1937 100.56 80.8914L100.55 80.901C98.8522 82.5987 96.4986 83.6598 93.9231 83.6598H9.39521C6.81008 83.6598 4.45645 82.6084 2.75876 80.901V80.8914C1.06106 79.1937 0 76.84 0 74.2646V9.3952C0 6.81007 1.06106 4.4661 2.75876 2.75876C4.45645 1.06106 6.81008 0 9.39521 0V0ZM82.0199 57.7217C81.1132 57.7217 80.3801 56.9886 80.3801 56.0819C80.3801 55.1751 81.1132 54.442 82.0199 54.442H85.9555C86.8622 54.442 87.5953 55.1751 87.5953 56.0819C87.5953 56.9886 86.8622 57.7217 85.9555 57.7217H82.0199ZM63.1427 57.7217C62.236 57.7217 61.5029 56.9886 61.5029 56.0819C61.5029 55.1751 62.236 54.442 63.1427 54.442H76.8208C77.7275 54.442 78.4606 55.1751 78.4606 56.0819C78.4606 56.9886 77.7275 57.7217 76.8208 57.7217H63.1427ZM35.3815 37.0021C34.4748 37.0021 33.7417 36.269 33.7417 35.3622C33.7417 34.4555 34.4748 33.7224 35.3815 33.7224H39.3171C40.2238 33.7224 40.9569 34.4555 40.9569 35.3622C40.9569 36.269 40.2238 37.0021 39.3171 37.0021H35.3815ZM16.5043 37.0021C15.5976 37.0021 14.8645 36.269 14.8645 35.3622C14.8645 34.4555 15.5976 33.7224 16.5043 33.7224H30.1823C31.0891 33.7224 31.8222 34.4555 31.8222 35.3622C31.8222 36.269 31.0891 37.0021 30.1823 37.0021H16.5043ZM35.3815 68.5831C34.4748 68.5831 33.7417 67.85 33.7417 66.9433C33.7417 66.0365 34.4748 65.3034 35.3815 65.3034H39.3171C40.2238 65.3034 40.9569 66.0365 40.9569 66.9433C40.9569 67.85 40.2238 68.5831 39.3171 68.5831H35.3815ZM16.5043 68.5831C15.5976 68.5831 14.8645 67.85 14.8645 66.9433C14.8645 66.0365 15.5976 65.3034 16.5043 65.3034H30.1823C31.0891 65.3034 31.8222 66.0365 31.8222 66.9433C31.8222 67.85 31.0891 68.5831 30.1823 68.5831H16.5043ZM35.3815 57.7313C34.4748 57.7313 33.7417 56.9982 33.7417 56.0915C33.7417 55.1848 34.4748 54.4517 35.3815 54.4517H39.3171C40.2238 54.4517 40.9569 55.1848 40.9569 56.0915C40.9569 56.9982 40.2238 57.7313 39.3171 57.7313H35.3815ZM16.5043 57.7313C15.5976 57.7313 14.8645 56.9982 14.8645 56.0915C14.8645 55.1848 15.5976 54.4517 16.5043 54.4517H30.1823C31.0891 54.4517 31.8222 55.1848 31.8222 56.0915C31.8222 56.9982 31.0891 57.7313 30.1823 57.7313H16.5043ZM20.4302 59.8824C21.337 59.8824 22.0701 60.6155 22.0701 61.5222C22.0701 62.4289 21.337 63.162 20.4302 63.162H16.5043C15.5976 63.162 14.8645 62.4289 14.8645 61.5222C14.8645 60.6155 15.5976 59.8824 16.5043 59.8824H20.4302ZM39.3075 59.8824C40.2142 59.8824 40.9473 60.6155 40.9473 61.5222C40.9473 62.4289 40.2142 63.162 39.3075 63.162H25.6294C24.7227 63.162 23.9896 62.4289 23.9896 61.5222C23.9896 60.6155 24.7227 59.8824 25.6294 59.8824H39.3075ZM13.1186 46.7831H43.5903C45.1047 46.7831 46.4841 47.4005 47.4873 48.4036C48.4904 49.3972 49.1078 50.7766 49.1078 52.3006V70.7534C49.1078 72.2678 48.4904 73.6472 47.4873 74.6504C46.4937 75.6439 45.1143 76.2709 43.5903 76.2709H13.1186C11.6041 76.2709 10.2248 75.6536 9.22158 74.6504C8.22804 73.6472 7.60105 72.2775 7.60105 70.7534V52.3006C7.60105 50.7862 8.21839 49.4068 9.22158 48.4036C10.2248 47.4005 11.5945 46.7831 13.1186 46.7831V46.7831ZM43.5903 51.1527H13.1186C12.8099 51.1527 12.5205 51.2781 12.3179 51.4904C12.1057 51.7026 11.9803 51.9823 11.9803 52.291V70.7438C11.9803 71.0524 12.1057 71.3418 12.3179 71.5444C12.5302 71.7566 12.8099 71.882 13.1186 71.882H43.5903C43.899 71.882 44.1883 71.7566 44.3909 71.5444C44.6031 71.3322 44.7285 71.0524 44.7285 70.7438V52.291C44.7285 51.9823 44.6031 51.6929 44.3909 51.4904C44.1883 51.2781 43.899 51.1527 43.5903 51.1527ZM59.3036 46.7831H89.7753C91.2898 46.7831 92.6691 47.4005 93.6723 48.4036C94.6755 49.3972 95.2929 50.7766 95.2929 52.3006V70.7534C95.2929 72.2678 94.6755 73.6472 93.6723 74.6504C92.6788 75.6439 91.2994 76.2709 89.7753 76.2709H59.3036C57.7892 76.2709 56.4098 75.6536 55.4066 74.6504C54.4131 73.6472 53.7861 72.2775 53.7861 70.7534V52.3006C53.7861 50.7862 54.4034 49.4068 55.4066 48.4036C56.4098 47.4005 57.7795 46.7831 59.3036 46.7831ZM89.7753 51.1527H59.3036C58.9949 51.1527 58.7056 51.2781 58.503 51.4904C58.2908 51.7026 58.1654 51.9823 58.1654 52.291V70.7438C58.1654 71.0524 58.2908 71.3418 58.503 71.5444C58.7152 71.7566 58.9949 71.882 59.3036 71.882H89.7753C90.084 71.882 90.3734 71.7566 90.5856 71.5444C90.7882 71.3322 90.9232 71.0524 90.9232 70.7438V52.291C90.9232 51.9823 90.7978 51.6929 90.5856 51.4904C90.3734 51.2781 90.0937 51.1527 89.7753 51.1527ZM12.2504 27.1246H90.6435C91.9264 27.1246 93.0839 27.6454 93.9231 28.4846V28.4943C94.7623 29.3431 95.2929 30.5007 95.2929 31.7739V39.1435C95.2929 40.4264 94.772 41.5839 93.9328 42.4231C93.0936 43.2623 91.936 43.7832 90.6531 43.7832H12.2601C10.9868 43.7832 9.82928 43.2623 8.98043 42.4135L8.97078 42.4231C8.13158 41.5839 7.6107 40.4167 7.6107 39.1435V31.7739C7.6107 30.5007 8.13158 29.3431 8.97078 28.5039L8.98043 28.4943C9.82928 27.6551 10.9868 27.1342 12.2504 27.1342V27.1246ZM90.6435 31.4942H12.2504C12.1733 31.4942 12.1057 31.5231 12.0575 31.5714L12.0479 31.581C11.9996 31.6292 11.9707 31.6968 11.9707 31.7739V39.1435C11.9707 39.2206 11.9996 39.2882 12.0479 39.3364V39.346C12.0961 39.3943 12.1636 39.4232 12.2408 39.4232H90.6338C90.7014 39.4232 90.7785 39.3943 90.8267 39.346C90.875 39.2978 90.9039 39.2303 90.9039 39.1531V31.7836C90.9039 31.7064 90.875 31.6389 90.8364 31.5907H90.8267C90.7785 31.5424 90.711 31.5135 90.6338 31.5135L90.6435 31.4942ZM4.35999 19.3402H98.939V9.40485C98.939 8.02547 98.3699 6.77149 97.4632 5.85512H97.4728C96.5565 4.9484 95.3025 4.37929 93.9231 4.37929H9.39521C8.01583 4.37929 6.76185 4.9484 5.84548 5.85512C4.92911 6.77149 4.36964 8.02547 4.36964 9.40485V19.3402H4.35999ZM98.939 23.7099H4.35999V74.2742C4.35999 75.6536 4.92911 76.9172 5.83583 77.8239H5.84548C6.7522 78.7403 8.01583 79.2998 9.39521 79.2998H93.9231C95.3025 79.2998 96.5661 78.7403 97.4728 77.8239C98.3796 76.9172 98.9487 75.6536 98.9487 74.2742V23.7099H98.939Z" fill="#14C5D0"/>
						</svg>
					</div>
					<div class="pcard__list">
						<ul>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Модуль бронирования
							</li>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Интеграция на сайт
							</li>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Гибкая система настроек
							</li>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Уведомления в Telegram
							</li>
						</ul>
					</div>
				</div>
				<div class="pcard-item pcard-item--bottom">
					<div class="pcard__offer pcard__offer--color-acc">
						Всего 4% с заявки!
					</div>
				</div>
			</div>
			<div class="pcard">
				<div class="pcard-item pcard-item--top">
					<div class="pcard__icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="131" height="90" viewBox="0 0 131 90" fill="none">
							<path d="M16.1135 0H113.989C115.533 0 116.935 0.632756 117.949 1.64735C118.964 2.66195 119.597 4.06384 119.597 5.60755V72.8599C119.597 73.4163 119.515 73.9509 119.362 74.4637H125.264C126.595 74.4637 127.806 75.0091 128.685 75.8819C129.563 76.7601 130.103 77.9711 130.103 79.3021V82.324C130.103 84.195 129.339 85.897 128.106 87.1297C126.874 88.3625 125.172 89.1262 123.301 89.1262H6.80215C4.93115 89.1262 3.22925 88.3625 1.99646 87.1297C0.763674 85.897 0 84.195 0 82.324V79.3021C0 77.9711 0.545481 76.7601 1.41825 75.8819C2.29648 75.0037 3.50744 74.4637 4.83842 74.4637H10.7405C10.5878 73.9564 10.506 73.4163 10.506 72.8599V5.60755C10.506 4.06384 11.1387 2.66195 12.1533 1.64735C13.1679 0.632756 14.5698 0 16.1135 0V0ZM51.2753 24.6339C50.4461 24.6339 49.7752 23.9575 49.7752 23.1339C49.7752 22.3047 50.4461 21.6338 51.2753 21.6338H54.8809C55.71 21.6338 56.381 22.3047 56.381 23.1339C56.381 23.963 55.71 24.6339 54.8809 24.6339H51.2753ZM33.9726 24.6339C33.1435 24.6339 32.4725 23.9575 32.4725 23.1339C32.4725 22.3047 33.1435 21.6338 33.9726 21.6338H46.5077C47.3369 21.6338 48.0078 22.3047 48.0078 23.1339C48.0078 23.963 47.3369 24.6339 46.5077 24.6339H33.9726V24.6339ZM37.5728 26.6031C38.4019 26.6031 39.0728 27.2741 39.0728 28.1032C39.0728 28.9323 38.4019 29.6033 37.5728 29.6033H33.9726C33.1435 29.6033 32.4725 28.9323 32.4725 28.1032C32.4725 27.2741 33.1435 26.6031 33.9726 26.6031H37.5728ZM54.8754 26.6031C55.7046 26.6031 56.3755 27.2741 56.3755 28.1032C56.3755 28.9323 55.7046 29.6033 54.8754 29.6033H42.3403C41.5111 29.6033 40.8402 28.9323 40.8402 28.1032C40.8402 27.2741 41.5111 26.6031 42.3403 26.6031H54.8754ZM30.8797 14.6025H58.8029C60.1939 14.6025 61.4594 15.1698 62.3703 16.0862C63.2867 17.0027 63.854 18.2627 63.854 19.6537V31.6816C63.854 33.0725 63.2867 34.3381 62.3703 35.249C61.4539 36.1654 60.1939 36.7327 58.8029 36.7327H30.8797C29.4887 36.7327 28.2232 36.1654 27.3123 35.249C26.3958 34.3326 25.8285 33.0725 25.8285 31.6816V19.6537C25.8285 18.2627 26.3958 16.9972 27.3123 16.0862C28.2287 15.1698 29.4887 14.6025 30.8797 14.6025ZM58.8029 18.6064H30.8797C30.596 18.6064 30.3342 18.7264 30.1433 18.9173C29.9524 19.1082 29.8324 19.37 29.8324 19.6537V31.6816C29.8324 31.9707 29.9524 32.2325 30.1433 32.418C30.3342 32.6089 30.596 32.7289 30.8797 32.7289H58.8029C59.0865 32.7289 59.3484 32.6089 59.5393 32.418C59.7302 32.227 59.8502 31.9652 59.8502 31.6816V19.6537C59.8502 19.37 59.7302 19.1082 59.5393 18.9173C59.3484 18.7264 59.0865 18.6064 58.8029 18.6064V18.6064ZM79.9785 31.6925C81.9913 31.6925 83.6168 33.3235 83.6168 35.3308C83.6168 37.3436 81.9859 38.9692 79.9785 38.9692C79.8258 38.9692 79.6785 38.9583 79.5366 38.9419L64.3886 56.8173C64.4814 57.1446 64.5359 57.4937 64.5359 57.8483C64.5359 59.8611 62.9104 61.4867 60.8975 61.4867C58.8847 61.4867 57.2592 59.8557 57.2592 57.8483C57.2592 57.5592 57.2919 57.281 57.3574 57.0137L48.1606 47.3205C47.9478 47.3587 47.7351 47.3751 47.5114 47.3751C47.3096 47.3751 47.1132 47.3587 46.9223 47.326C44.4131 50.0479 40.1802 54.6245 37.4909 57.4119C37.54 57.6465 37.5618 57.8919 37.5618 58.1429C37.5618 60.1557 35.9309 61.7812 33.9235 61.7812C31.9107 61.7812 30.2851 60.1502 30.2851 58.1429C30.2851 56.13 31.9161 54.5045 33.9235 54.5045C34.1853 54.5045 34.4417 54.5318 34.6872 54.5863C37.2182 51.9462 41.462 47.3587 43.9767 44.6258C43.9058 44.3422 43.8676 44.0422 43.8676 43.7367C43.8676 41.7239 45.4986 40.0983 47.506 40.0983C49.5188 40.0983 51.1443 41.7293 51.1443 43.7367C51.1443 44.0258 51.1116 44.304 51.0516 44.5713L60.243 54.2645C60.4557 54.2263 60.6684 54.2045 60.8921 54.2045C61.0448 54.2045 61.1921 54.2154 61.3394 54.2318L76.4874 36.3563C76.3892 36.029 76.3401 35.6854 76.3401 35.3254C76.3401 33.3125 77.9711 31.687 79.9785 31.687V31.6925ZM91.3736 31.4088H100.27C101.187 31.4088 102.021 31.7852 102.627 32.3852C103.232 32.9907 103.603 33.8253 103.603 34.7417V42.973C103.603 43.8949 103.227 44.724 102.627 45.3295H102.616C102.01 45.935 101.181 46.3059 100.27 46.3059H91.3736C90.4572 46.3059 89.628 45.9295 89.0226 45.3295H89.0117C88.4116 44.724 88.0352 43.8894 88.0352 42.973V34.7417C88.0352 33.8198 88.4116 32.9907 89.0117 32.3852C89.6171 31.7797 90.4517 31.4088 91.3681 31.4088H91.3736ZM99.5994 35.4127H92.0391V42.3075H99.5994V35.4127V35.4127ZM91.3736 14.5098H100.27C101.181 14.5098 102.016 14.8862 102.616 15.4862L102.627 15.4971C103.232 16.1026 103.603 16.9317 103.603 17.8481V26.0795C103.603 27.0013 103.227 27.8305 102.627 28.4359C102.021 29.0414 101.187 29.4124 100.27 29.4124H91.3736C90.4626 29.4124 89.6335 29.036 89.0226 28.4359L89.0117 28.425C88.4062 27.8195 88.0352 26.985 88.0352 26.074V17.8427C88.0352 16.9208 88.4116 16.0917 89.0117 15.4862C89.6171 14.8862 90.4517 14.5098 91.3681 14.5098H91.3736ZM99.5994 18.5136H92.0391V25.4085H99.5994V18.5136V18.5136ZM91.3736 48.4551H100.27C101.181 48.4551 102.016 48.8315 102.616 49.4315H102.627C103.232 50.037 103.603 50.8716 103.603 51.788V60.0193C103.603 60.9412 103.227 61.7703 102.627 62.3758H102.616C102.01 62.9813 101.181 63.3522 100.27 63.3522H91.3736C90.4572 63.3522 89.628 62.9758 89.0226 62.3758H89.0117C88.4116 61.7703 88.0352 60.9357 88.0352 60.0193V51.788C88.0352 50.8661 88.4116 50.037 89.0117 49.4315H89.0226C89.628 48.8315 90.4572 48.4551 91.3736 48.4551ZM99.5994 52.4589H92.0391V59.3538H99.5994V52.4589V52.4589ZM113.989 78.4729H16.1135H4.83842C4.60932 78.4729 4.40204 78.5657 4.2493 78.7184C4.09657 78.8711 4.00383 79.0784 4.00383 79.3075V82.3295C4.00383 83.0986 4.32021 83.7968 4.82751 84.3041C5.33481 84.8114 6.03302 85.1278 6.80215 85.1278H123.301C124.07 85.1278 124.768 84.8114 125.275 84.3041C125.783 83.7968 126.099 83.0986 126.099 82.3295V79.3075C126.099 79.0784 126.006 78.8711 125.853 78.7184C125.701 78.5657 125.493 78.4729 125.264 78.4729H113.989V78.4729ZM23.1775 7.66401H106.925C108.256 7.66401 109.467 8.20949 110.351 9.09317L110.362 9.09863C111.24 9.98231 111.791 11.1987 111.791 12.5297V65.9541C111.791 67.2851 111.245 68.4961 110.362 69.3798L110.351 69.3852C109.467 70.2635 108.256 70.8144 106.925 70.8144H23.1775C21.8465 70.8144 20.6356 70.2689 19.7519 69.3852L19.741 69.3798C18.8627 68.4961 18.3118 67.2797 18.3118 65.9541V12.5297C18.3118 11.1987 18.8573 9.98231 19.741 9.09863L19.7519 9.09317C20.6356 8.21495 21.8465 7.66401 23.1775 7.66401ZM106.925 11.6678H23.1775C22.9375 11.6678 22.7248 11.7606 22.572 11.9133L22.5611 11.9188C22.4084 12.0715 22.3156 12.2842 22.3156 12.5243V65.9487C22.3156 66.1887 22.4084 66.4014 22.5611 66.5542L22.572 66.5651C22.7248 66.7178 22.9375 66.8106 23.1775 66.8106H106.925C107.165 66.8106 107.378 66.7178 107.531 66.5651L107.536 66.5542C107.689 66.4014 107.782 66.1887 107.782 65.9487V12.5243C107.782 12.2842 107.689 12.0715 107.536 11.9188L107.531 11.9133C107.378 11.7606 107.165 11.6678 106.925 11.6678V11.6678ZM113.989 4.00929H16.1135C15.6771 4.00929 15.2735 4.1893 14.9844 4.48386C14.6953 4.77842 14.5153 5.17662 14.5153 5.613V72.8654C14.5153 73.3018 14.6953 73.7054 14.9844 73.9945C15.2735 74.2836 15.6608 74.4582 16.0917 74.4691H16.1135H113.989H114.011C114.442 74.4636 114.835 74.2836 115.118 73.9945C115.408 73.7054 115.588 73.3018 115.588 72.8654V5.613C115.588 5.17662 115.408 4.77296 115.118 4.48386C114.824 4.19475 114.426 4.00929 113.989 4.00929V4.00929Z" fill="#14C5D0"/>
						</svg>
					</div>
					<div class="pcard__list">
						<ul>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Продвижение
							</li>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Настройка рекламной кампании
							</li>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Запуск рекламы
							</li>
						</ul>
					</div>
				</div>
				<div class="pcard-item pcard-item--bottom">
					<div class="pcard__special">
						Спец. предложение для новых клиентов
					</div>
					<div class="pcard__offer pcard__offer--color-acc">
						Запуск рекламы бесплатно!
					</div>
				</div>
			</div>
			<div class="pcard">
				<div class="pcard-item pcard-item--top">
					<div class="pcard__icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="112" height="91" viewBox="0 0 112 91" fill="none">
							<path d="M7.04743 0H104.778C106.709 0 108.469 0.792116 109.749 2.06919L109.757 2.07749C111.034 3.35733 111.826 5.11729 111.826 7.04882V71.7804C111.826 73.7106 111.034 75.4719 109.757 76.7518L109.749 76.7601C108.469 78.0371 106.709 78.8293 104.778 78.8293H76.2889V86.3457H87.6429C88.7332 86.3457 89.6152 87.2299 89.6152 88.3181C89.6152 89.4063 88.7332 90.2904 87.6429 90.2904H74.3678H74.3173H37.5097H37.4592H24.1842C23.096 90.2904 22.2118 89.4063 22.2118 88.3181C22.2118 87.2299 23.096 86.3457 24.1842 86.3457H35.5395V78.8293H7.04882C5.10899 78.8293 3.34627 78.0351 2.06919 76.7601L2.07265 76.7552C0.794195 75.4754 0 73.714 0 71.7804V7.04882C0 5.11591 0.794195 3.35457 2.07265 2.07403L2.06919 2.06919C3.34627 0.792116 5.10899 0 7.04882 0H7.04743ZM72.3436 78.8286H39.4807V86.345H72.3436V78.8286ZM18.8261 14.4767H55.7824C57.0415 14.4767 58.1885 14.9942 59.0249 15.8285L59.0284 15.8251C59.8599 16.6566 60.3774 17.8057 60.3774 19.071V59.835C60.3774 61.1003 59.8599 62.2494 59.0284 63.081L59.0249 63.0775C58.1885 63.9125 57.0408 64.4293 55.7824 64.4293H18.8261C17.5657 64.4293 16.42 63.9118 15.5885 63.0803H15.5802C14.7486 62.2487 14.2312 61.0996 14.2312 59.8343V19.0703C14.2312 17.8099 14.7486 16.6642 15.5802 15.8306V15.8244C16.4117 14.9914 17.5608 14.4754 18.8261 14.4754V14.4767ZM55.7824 18.4214H18.8261C18.649 18.4214 18.4871 18.4947 18.3675 18.613L18.364 18.6096C18.2478 18.7272 18.1758 18.8912 18.1758 19.071V59.835C18.1758 60.0121 18.2492 60.174 18.3675 60.2937L18.364 60.2971C18.4816 60.4134 18.6456 60.4853 18.8254 60.4853H55.7817C55.9637 60.4853 56.1256 60.4148 56.2383 60.3006V60.2944C56.358 60.1747 56.4313 60.0128 56.4313 59.8357V19.0717C56.4313 18.8946 56.358 18.7313 56.2383 18.613V18.6047C56.1256 18.492 55.963 18.4214 55.7817 18.4214H55.7824ZM90.7193 47.1231L82.9718 51.7672L83.7051 60.7835C85.4651 60.2958 87.0375 59.3577 88.2932 58.1041C90.1825 56.2134 91.3523 53.6011 91.3523 50.7149C91.3523 49.4531 91.1282 48.2431 90.7187 47.1238L90.7193 47.1231ZM80.8224 48.4721L88.6958 43.7526C88.5651 43.6066 88.4308 43.4648 88.2932 43.3271C86.4025 41.4364 83.7902 40.268 80.904 40.268C78.0198 40.268 75.4069 41.4364 73.5169 43.3271C73.1696 43.6724 72.8493 44.0438 72.5525 44.4354L80.8224 48.4721V48.4721ZM79.7763 61.1024L79.0368 51.9851L70.8195 47.9761C70.5836 48.8484 70.4577 49.7672 70.4577 50.7149C70.4577 53.6011 71.6262 56.2134 73.5169 58.1041C75.1571 59.7444 77.3426 60.8409 79.7763 61.1031V61.1024ZM80.904 36.3226C84.8784 36.3226 88.4765 37.9331 91.0805 40.5378C93.6851 43.1424 95.297 46.7419 95.297 50.7142C95.297 54.6873 93.6844 58.2868 91.0805 60.8907C88.4758 63.4954 84.8784 65.1073 80.904 65.1073C76.9309 65.1073 73.3336 63.4947 70.7275 60.8907C68.1229 58.2861 66.5123 54.6866 66.5123 50.7142C66.5123 46.7412 68.1229 43.1417 70.7275 40.5378C73.3336 37.9331 76.9316 36.3226 80.904 36.3226ZM86.224 22.988C85.4644 22.988 84.8487 22.3723 84.8487 21.6127C84.8487 20.8545 85.4644 20.2395 86.224 20.2395H89.5204C90.2787 20.2395 90.8937 20.8552 90.8937 21.6127C90.8937 22.3723 90.278 22.988 89.5204 22.988H86.224ZM70.3871 22.988C69.6289 22.988 69.0139 22.3723 69.0139 21.6127C69.0139 20.8545 69.6296 20.2395 70.3871 20.2395H81.8601C82.6197 20.2395 83.2354 20.8552 83.2354 21.6127C83.2354 22.3723 82.6197 22.988 81.8601 22.988H70.3871ZM73.6857 24.7916C74.4439 24.7916 75.0589 25.4073 75.0589 26.1648C75.0589 26.9244 74.4432 27.5401 73.6857 27.5401H70.3871C69.6289 27.5401 69.0139 26.9244 69.0139 26.1648C69.0139 25.4066 69.6296 24.7916 70.3871 24.7916H73.6857ZM89.5211 24.7916C90.2793 24.7916 90.8944 25.4073 90.8944 26.1648C90.8944 26.9244 90.2787 27.5401 89.5211 27.5401H78.0482C77.2886 27.5401 76.675 26.9244 76.675 26.1648C76.675 25.4066 77.2886 24.7916 78.0482 24.7916H89.5211ZM67.5584 13.8043H93.1158C94.3894 13.8043 95.5447 14.3245 96.3811 15.1616C97.2175 15.998 97.7384 17.1554 97.7384 18.427V29.4371C97.7384 30.7086 97.2182 31.866 96.3811 32.7024C95.5447 33.5388 94.3887 34.0597 93.1158 34.0597H67.5584C66.2847 34.0597 65.1308 33.5395 64.293 32.7024C63.4566 31.866 62.9357 30.7086 62.9357 29.4371V18.427C62.9357 17.1554 63.4559 15.998 64.293 15.1616C65.1308 14.3252 66.2854 13.8043 67.5584 13.8043ZM93.1158 17.4695H67.5584C67.2982 17.4695 67.0575 17.5774 66.8838 17.7524C66.7088 17.9261 66.6009 18.1648 66.6009 18.427V29.4371C66.6009 29.6992 66.7088 29.9379 66.8838 30.1129C67.0575 30.2866 67.2982 30.3945 67.5584 30.3945H93.1158C93.3779 30.3945 93.6166 30.2866 93.7903 30.1129C93.9653 29.9379 94.0732 29.6986 94.0732 29.4371V18.427C94.0732 18.1648 93.9653 17.9261 93.7903 17.7524C93.6166 17.5774 93.3779 17.4695 93.1158 17.4695ZM12.467 7.69358H99.3579C100.782 7.69358 102.075 8.2747 103.011 9.21071C103.947 10.1467 104.528 11.4404 104.528 12.8641V65.9215C104.528 67.346 103.947 68.6389 103.011 69.575C102.075 70.511 100.782 71.0921 99.3579 71.0921H12.467C11.0426 71.0921 9.74962 70.511 8.81361 69.575C7.8776 68.6389 7.29648 67.3453 7.29648 65.9215V12.8641C7.29648 11.4397 7.8776 10.1467 8.81361 9.21071C9.74962 8.2747 11.0433 7.69358 12.467 7.69358V7.69358ZM99.3579 11.6383H12.467C12.1315 11.6383 11.825 11.7759 11.603 11.9987C11.3802 12.2228 11.2412 12.5293 11.2412 12.8648V65.9222C11.2412 66.2578 11.3802 66.5642 11.603 66.7863C11.8257 67.0104 12.1315 67.1481 12.467 67.1481H99.3579C99.6934 67.1481 99.9999 67.0104 100.222 66.7863C100.445 66.5635 100.584 66.2578 100.584 65.9222V12.8648C100.584 12.5293 100.445 12.2228 100.222 11.9987C99.9992 11.7759 99.6934 11.6383 99.3579 11.6383ZM104.778 3.9433H7.04743C6.19651 3.9433 5.4203 4.29335 4.85717 4.85648H4.84887C4.29058 5.41477 3.94399 6.19028 3.94399 7.04674V71.7784C3.94399 72.6341 4.29127 73.4103 4.84887 73.9686H4.85717C5.4203 74.5317 6.19651 74.8818 7.04743 74.8818H37.5091H74.3166H104.778C105.634 74.8818 106.41 74.5345 106.97 73.9769L106.976 73.9686C107.536 73.4103 107.881 72.6348 107.881 71.7784V7.04674C107.881 6.19097 107.536 5.41477 106.976 4.85648L106.97 4.84818C106.41 4.28989 105.634 3.9433 104.778 3.9433H104.778Z" fill="#14C5D0"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M28.1733 34.7094C29.0837 34.8436 29.8986 35.2712 30.5206 35.8931C31.2802 36.6513 31.7499 37.6987 31.7499 38.8561V39.4227C31.7499 40.5766 31.2802 41.6261 30.5206 42.3857H30.506C29.8855 43.0028 29.0754 43.4317 28.1733 43.5673V53.8911C28.1733 54.9794 27.2891 55.8635 26.2009 55.8635C25.1127 55.8635 24.2286 54.9794 24.2286 53.8911V43.5673C23.3285 43.4317 22.5164 43.0028 21.8958 42.3857L21.8813 42.3712C21.1251 41.6116 20.6533 40.5656 20.6533 39.4234V38.8568C20.6533 37.7091 21.1244 36.6665 21.8813 35.909V35.8945C22.5032 35.2726 23.3202 34.845 24.2286 34.7108V33.4261C24.2286 32.3379 25.1127 31.4538 26.2009 31.4538C27.2891 31.4538 28.1733 32.3379 28.1733 33.4261V34.7108V34.7094ZM37.1093 21.1687C39.2339 21.1687 40.9558 22.8906 40.9558 25.0151C40.9558 27.1397 39.2339 28.8616 37.1093 28.8616C34.9848 28.8616 33.2629 27.1397 33.2629 25.0151C33.2629 22.8906 34.9848 21.1687 37.1093 21.1687ZM39.0505 43.5092C39.9741 43.6372 40.8001 44.0675 41.429 44.6957C42.1872 45.4553 42.6569 46.5013 42.6569 47.6587V48.2252C42.6569 49.3792 42.1872 50.43 41.429 51.1883H41.4144C40.7939 51.8067 39.9838 52.2357 39.0817 52.3699V53.8905C39.0817 54.9787 38.1975 55.8628 37.1093 55.8628C36.0211 55.8628 35.137 54.9787 35.137 53.8905V52.3699C34.2369 52.2357 33.4248 51.8067 32.8042 51.1883L32.7897 51.1737C32.0335 50.4141 31.5617 49.3702 31.5617 48.2259V47.6594C31.5617 46.5116 32.0328 45.4705 32.7897 44.7116V44.697C33.4185 44.0682 34.2466 43.6393 35.1681 43.5106C35.1487 43.3957 35.137 43.2768 35.137 43.1571V33.4254C35.137 32.3372 36.0211 31.4531 37.1093 31.4531C38.1975 31.4531 39.0817 32.3372 39.0817 33.4254V43.1571C39.0817 43.2768 39.0699 43.3944 39.0505 43.5106V43.5092ZM36.7032 47.0582H37.5154C37.8627 47.0582 38.1768 47.1502 38.4044 47.3003C38.6306 47.4511 38.771 47.6573 38.771 47.8863V47.9977C38.771 48.2266 38.6306 48.4349 38.4044 48.5836H38.3995C38.1719 48.7323 37.8592 48.8257 37.5154 48.8257H36.7032C36.3594 48.8257 36.0467 48.7337 35.8191 48.5836L35.8143 48.5822C35.588 48.4314 35.4462 48.2239 35.4462 47.9977V47.8863C35.4462 47.6587 35.5887 47.4539 35.8143 47.3038V47.3003C36.0419 47.1495 36.3559 47.0582 36.7032 47.0582ZM48.0945 21.1687C50.219 21.1687 51.943 22.8906 51.943 25.0151C51.943 27.1397 50.219 28.8616 48.0945 28.8616C45.97 28.8616 44.2481 27.1397 44.2481 25.0151C44.2481 22.8906 45.97 21.1687 48.0945 21.1687ZM46.7393 31.5617H49.4518C50.6092 31.5617 51.6566 32.0314 52.4148 32.7897C53.1744 33.5493 53.6442 34.5953 53.6442 35.7527V36.3193C53.6442 37.4732 53.1744 38.524 52.4148 39.2823H52.4003C51.7798 39.9007 50.9683 40.3297 50.0648 40.4659C50.0662 40.5088 50.0682 40.551 50.0682 40.5939V53.8925C50.0682 54.9807 49.1862 55.8649 48.0959 55.8649C47.0077 55.8649 46.1249 54.9807 46.1249 53.8925V40.5939C46.1249 40.551 46.1249 40.5088 46.1284 40.4659C45.2263 40.3304 44.4127 39.9028 43.7929 39.2823L43.7783 39.2677C43.0201 38.5081 42.549 37.4642 42.549 36.32V35.7534C42.549 34.6057 43.0222 33.5631 43.7783 32.8056V32.791C44.5365 32.0328 45.5853 31.5631 46.7413 31.5631L46.7393 31.5617ZM47.6884 35.1515H48.502C48.8472 35.1515 49.162 35.2435 49.3889 35.3936C49.6165 35.5444 49.7569 35.7506 49.7569 35.9796V36.091C49.7569 36.32 49.6165 36.5282 49.3889 36.6769H49.384C49.1578 36.8257 48.8458 36.9191 48.502 36.9191H47.6884C47.346 36.9191 47.0319 36.8271 46.8043 36.6769L46.7995 36.6735C46.5732 36.5247 46.4328 36.3165 46.4328 36.091V35.9796C46.4328 35.752 46.5732 35.5458 46.7995 35.3971V35.3936C47.0271 35.2428 47.3432 35.1515 47.6884 35.1515ZM26.2009 21.1687C28.3255 21.1687 30.0474 22.8906 30.0474 25.0151C30.0474 27.1397 28.3255 28.8616 26.2009 28.8616C24.0764 28.8616 22.3545 27.1397 22.3545 25.0151C22.3545 22.8906 24.0764 21.1687 26.2009 21.1687ZM25.7948 38.2529H26.607C26.9543 38.2529 27.2684 38.3463 27.496 38.495C27.7236 38.6458 27.864 38.8533 27.864 39.0823V39.1937C27.864 39.4213 27.7236 39.6289 27.496 39.7797H27.4911C27.2635 39.9284 26.9529 40.0218 26.607 40.0218H25.7948C25.451 40.0218 25.1383 39.9284 24.9107 39.7797L24.9059 39.7762C24.6796 39.6254 24.5392 39.4193 24.5392 39.1937V39.0823C24.5392 38.8547 24.6796 38.6486 24.9059 38.4978V38.4943C25.1335 38.3456 25.4496 38.2522 25.7948 38.2522V38.2529Z" fill="#14C5D0"/>
						</svg>
					</div>
					<div class="pcard__list">
						<ul>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Управление гостиницей online
							</li>
							<li>
								<span class="pcard__listitem-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.71178 3.62565C1.20768 3.14295 2.01912 3.14295 2.515 3.62565L8.66337 9.61017L18.1647 0.362005C18.6606 -0.120668 19.472 -0.120668 19.9679 0.362005C20.4638 0.844692 20.4638 1.63451 19.9679 2.11718L9.58051 12.2278C9.36221 12.4403 9.08276 12.5592 8.79601 12.5846C8.42267 12.6258 8.03386 12.5078 7.7491 12.2307L0.71178 5.38083C0.215865 4.89814 0.215865 4.10832 0.71178 3.62565V3.62565Z" fill="#F91942"/>
									</svg>
								</span>
								Версия для desktop и mobile
							</li>
						</ul>
					</div>
				</div>
				<div class="pcard-item pcard-item--bottom">
					<div class="pcard__offer pcard__offer--color-acc">
						<span class="pcard__price pcard__price--color-acc">
							1 500
							<svg xmlns="http://www.w3.org/2000/svg" width="12" height="15" viewBox="0 0 12 15" fill="none">
								<path d="M7.59585 0.164001H3.20259C2.74955 0.164001 2.38227 0.531283 2.38227 0.984314V7.19315H1.44531C0.992281 7.19315 0.625 7.56043 0.625 8.01346C0.625 8.46649 0.992281 8.83378 1.44531 8.83378H2.38227V10.7078H1.44531C0.992281 10.7078 0.625 11.075 0.625 11.5281C0.625 11.9811 0.992281 12.3484 1.44531 12.3484H2.38227V14.164C2.38227 14.617 2.74955 14.9843 3.20259 14.9843C3.65562 14.9843 4.0229 14.617 4.0229 14.164V12.3484H7.59585C8.04888 12.3484 8.41616 11.9811 8.41616 11.5281C8.41616 11.075 8.04888 10.7078 7.59585 10.7078H4.0229V8.83378H7.59585C9.98613 8.83378 11.9308 6.88914 11.9308 4.49886C11.9307 2.04952 9.93555 0.164001 7.59585 0.164001ZM7.59585 7.19315H4.0229V1.80463H7.59585C9.07252 1.80463 10.2901 2.99572 10.2901 4.49892C10.2901 5.98456 9.08149 7.19315 7.59585 7.19315Z" fill="#6A6A6A"/>
							</svg>
						</span> | месяц
					</div>
				</div>
			</div>
		</div>
		<div class="pabout__action">
			<a href="#" class="mbtn js-partner-form">Оставить заявку</a>
		</div>
	</div>
</section>
			
<section class="pinfo">
	<div class="cont">
		<h2 class="section-title">ПОДДЕРЖКА И РАЗВИТИЕ ГОСТИНИЧНОГО БИЗНЕСА</h2>
		<div class="section-subtitle">Больше online-броней и благодарных гостей. Как мы это делаем? А вот так!</div>
		<div class="pinfo__wrapper">
			<div class="pinfo-card">
				<div class="pinfo-card__icon">
					<img src="/site/theme/images/ppromo1.png">
				</div>
				<div class="pinfo-card__title">Анализируем</div>
				<div class="pinfo-card__list">
					<div class="pinfo-card__listitem">
						<span class="pinfo-card__listmarker">
							<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
							</svg>
						</span>
						Выясняем, что нужно именно вам для того, чтобы привлечь новых гостей.
					</div>
					<div class="pinfo-card__listitem">
						<span class="pinfo-card__listmarker">
							<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
							</svg>
						</span>
						Определяем какие из наших инструментов подойдут вам лучше всего. 
					</div>
				</div>
			</div>
			<div class="pinfo-card">
				<div class="pinfo-card__icon">
					<img src="/site/theme/images/ppromo2.png">
				</div>
				<div class="pinfo-card__title">Интегрируем</div>
				<div class="pinfo-card__list">
					<div class="pinfo-card__listitem">
						<span class="pinfo-card__listmarker">
							<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
							</svg>
						</span>
						Заключаем договор.
					</div>
					<div class="pinfo-card__listitem">
						<span class="pinfo-card__listmarker">
							<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
							</svg>
						</span>
						Запускаем новые  механизмы работы с гостями в Интернете.
					</div>
				</div>
			</div>
			<div class="pinfo-card">
				<div class="pinfo-card__icon">
					<img src="/site/theme/images/ppromo3.png">
				</div>
				<div class="pinfo-card__title">Продвигаем</div>
				<div class="pinfo-card__list">
					<div class="pinfo-card__listitem">
						<span class="pinfo-card__listmarker">
							<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
							</svg>
						</span>
						Следим за продажами online
					</div>
					<div class="pinfo-card__listitem">
						<span class="pinfo-card__listmarker">
							<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
							</svg>
						</span>
						Помогаем привлечь еще больше гостей.
					</div>
				</div>
			</div>
			<div class="pinfo-card">
				<div class="pinfo-card__icon">
					<img src="/site/theme/images/ppromo4.png">
				</div>
				<div class="pinfo-card__title">Совершенствуем</div>
				<div class="pinfo-card__list">
					<div class="pinfo-card__listitem">
						<span class="pinfo-card__listmarker">
							<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
							</svg>
						</span>
						Изучаем рынок гостиничных услуг и улучшаем наши продукты так, чтобы они помогали делать ваш бизнес еще эффективнее.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
			
<section class="pcases">
	<div class="cont">
		<h2 class="section-title">ПОСЛЕДНИЕ КЕЙСЫ</h2>
		<div class="section-subtitle">Тут собраны примеры наших проектов</div>
		<div class="pcases__wrapper">
			<div class="pcases-slider">
				<!--<div class="pcase">
					<div class="pcase-item pcase-item--img">
						<img src="/site/theme/images/promo2_2.png">
					</div>
					<div class="pcase-item pcase-item--texts">
						<div class="pcase__title">Гостиница «ТУРА», г. Тюмень</div>
						<div class="pcase__info">
							<div class="pcase__infoblock pcase__infoblock--flex">
								<div class="pcase__infoblock-title">Цели: </div>обновить сайт, автоматизировать процесс бронирования номеров, привлечь новых гостей
							</div>
							<div class="pcase__infoblock">
								<div class="pcase__infoblock-title">Результаты: </div>
								<div class="pcase__infoblock-list">
									<div class="pcase__infoblock-listitem">
										<span class="pcase__infoblock-listmarker">
											<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
											</svg>
										</span>
										разработан современный адаптивный сайт, понятный  пользователю
									</div>
									<div class="pcase__infoblock-listitem">
										<span class="pcase__infoblock-listmarker">
											<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
											</svg>
										</span>
										интегрирован модуль бронирования
									</div>
									<div class="pcase__infoblock-listitem">
										<span class="pcase__infoblock-listmarker">
											<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
											</svg>
										</span>
										реализована рекламная компания в Яндекс.директ и Google.Adwords
									</div>
									<div class="pcase__infoblock-listitem">
										<span class="pcase__infoblock-listmarker">
											<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
											</svg>
										</span>
										Привлечено более 450 новых клиентов из Интернета.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>-->
				<div class="pcase">
					<div class="pcase-item pcase-item--img">
						<img src="/site/theme/images/promo2_2.png">
					</div>
					<div class="pcase-item pcase-item--texts">
						<div class="pcase__title">Гостиница «ТУРА», г. Тюмень</div>
						<div class="pcase__info">
							<div class="pcase__infoblock pcase__infoblock--flex">
								<div class="pcase__infoblock-title">Цели: </div>обновить сайт, автоматизировать процесс бронирования номеров, привлечь новых гостей
							</div>
							<div class="pcase__infoblock">
								<div class="pcase__infoblock-title">Результаты: </div>
								<div class="pcase__infoblock-list">
									<div class="pcase__infoblock-listitem">
										<span class="pcase__infoblock-listmarker">
											<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
											</svg>
										</span>
										разработан современный адаптивный сайт, понятный  пользователю
									</div>
									<div class="pcase__infoblock-listitem">
										<span class="pcase__infoblock-listmarker">
											<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
											</svg>
										</span>
										интегрирован модуль бронирования
									</div>
									<div class="pcase__infoblock-listitem">
										<span class="pcase__infoblock-listmarker">
											<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
											</svg>
										</span>
										реализована рекламная компания в Яндекс.директ и Google.Adwords
									</div>
									<div class="pcase__infoblock-listitem">
										<span class="pcase__infoblock-listmarker">
											<svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10" fill="none">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M0.637393 2.87919C1.03411 2.49587 1.68326 2.49587 2.07997 2.87919L6.99867 7.63161L14.5997 0.287474C14.9964 -0.0958248 15.6456 -0.0958248 16.0423 0.287474C16.439 0.670785 16.439 1.29799 16.0423 1.68129L7.73238 9.71035C7.55774 9.87909 7.33418 9.9735 7.10478 9.99366C6.8061 10.0263 6.49506 9.93268 6.26725 9.71259L0.637393 4.27301C0.240661 3.8897 0.240661 3.26249 0.637393 2.87919Z" fill="#F91942"/>
											</svg>
										</span>
										Привлечено более 450 новых клиентов из Интернета.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	$(document).ready(function() {
		$('.pcases-slider').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			infinite: false
		})
	})
</script>
			
{% include 'footer' %}