{% if request.input.json == 'yes' %}

	{% set items = page.active_sub_pages %}

	{% if request.input.query %}
		{% set query = request.input.query|split(' ') %}
		{% set results = [] %}

		{% for item in items %}
			{% if query|length > 0 %}
				{% for que in query %}
					{% if que|slice(0, -1)|length >= 3 and que|slice(0, -1)|lower in item.field_header|lower %}
						{% set results = results|merge([item]) %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		{% set items = results %}		

	{% endif %}

	{% set uniqResults = [] %}
	{% set uniqIDs = [] %}

	{% if items|length > 0 %}
		{% for item in items %}
			{% if item.id not in uniqIDs %}
				{% set uniqResults = uniqResults|merge([item]) %}
				{% set uniqIDs = uniqIDs|merge([item.id]) %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% set items = uniqResults %}

<div id="ajax-answer" data-answer="{$ uniqResults|json_encode() $}" {% if results|length == 0 and query[0] != '' %}data-empty="1"{% endif %}></div>

{% else %}

{% include 'header' %}

<section class="search" id="v-search-root">
	<div class="search__wrapper" :class="{'search__wrapper--fw': isFullWidthLayout}">
		<div v-show="isSearchShowlist" class="search-item search-item--list">
			<div class="search-top">
				<div class="cont">
					<h1>{$ page.field_header $}</h1>
				</div>
			</div>
			<div class="search-filters search-filters--results-page">
				<div class="cont">
					<div class="flexer flexer--jcb flexer--aic">
						{% include 'cityswitcher_search_common' %}
						<div class="filter__group">
							<div class="filter filter--switcher filter--radius">
								<div class="filter-radius">
									<input type="checkbox" id="filter-radius" name="filter-radius" v-model="radiusFilterIsActive">
									<label for="filter-radius">
										<span class="checkbox-switcher"></span>
										Искать рядом со мной
									</label>
									<div v-show="radiusFilterIsActive" class="filter-radius-changer">
										<vue-slider 
											ref="filter-radius"
											v-model="circleRadius" 
											:min="500" 
											:max="10000"
											:tooltip="'active'"
											:tooltip-formatter="circleRadiusTooltipFormatter"
											:min-range="1"
											:lazy="true"
											:adsorb="true"
        									:interval="500"
										></vue-slider>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="filters">
						
						<div class="filters__wrapper">
							<div class="filter__group">
								<div class="filter filter--tags">
									<div class="tagsearch__input">
										<vue-tags-input
											v-model="tag"
											:tags="tags"
											:autocomplete-items="filteredTags"
											@tags-changed="newTags => tags = newTags"
											placeholder="Поиск..."
										/>
									</div>
								</div>
							</div>
							<!--div class="filter__group">
								<div class="filter filter--search">
									<input 
										type="text" 
										class="form-input form-input--text" 
										placeholder="Поиск..."
										@input="inputHandler"
										v-model="searchParams.query"
									>
								</div>
							</div-->
							<!--div class="filter__group filter__group--flex">
								<div class="filter filter--date">
									<v-date-picker 
										mode='range' 
										:min-date='new Date()'
										v-model='range'
									/>
								</div>
								
							</div-->
							<div class="filter__group filter__group--flex">
								<div class="filter filter--cats">
									<div class="filter-radios">
										<div class="filter-radio">
											<input type="radio" value="" name="filter-cat" v-model="searchSelectedCat" id="filter-cat-0">
											<label for="filter-cat-0">Все</label>
										</div>
										<div class="filter-radio">
											<input type="radio" value="22" name="filter-cat" v-model="searchSelectedCat" id="filter-cat-3">
											<label for="filter-cat-3">Маршруты</label>
										</div>
										<div class="filter-radio">
											<input type="radio" value="24" name="filter-cat" v-model="searchSelectedCat" id="filter-cat-4">
											<label for="filter-cat-4">Места</label>
										</div>
										<div class="filter-radio">
											<input type="radio" value="26" name="filter-cat" v-model="searchSelectedCat" id="filter-cat-5">
											<label for="filter-cat-5">События</label>
										</div>
										<div class="filter-radio">
											<input type="radio" value="45" name="mfilter-cat" v-model="searchSelectedCat" id="mfilter-cat-7">
											<label for="mfilter-cat-7">Экскурсии</label>
										</div>
										<div class="filter-radio">
											<input type="radio" value="20" name="filter-cat" v-model="searchSelectedCat" id="filter-cat-2">
											<label for="filter-cat-2">Рестораны</label>
										</div>
										<div class="filter-radio">
											<input type="radio" value="11" name="filter-cat" v-model="searchSelectedCat" id="filter-cat-1">
											<label for="filter-cat-1">Отели</label>
										</div>
										<div class="filter-radio">
											<input type="radio" value="44" name="mfilter-cat" v-model="searchSelectedCat" id="mfilter-cat-6">
											<label for="mfilter-cat-6">Кемпинги</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="search-list">
				<transition name="loader">
					<div v-show="isLoading" class="search-loader">
						<div class="loader">
							<svg viewBox="0 0 80 80">
								<rect x="8" y="8" width="64" height="64"></rect>
							</svg>
						</div>
					</div>
				</transition>
				<div class="cont">
					<div class="search-warning" v-show="emptyAnswer || filteredList.length == 0">Результатов по вашему запросу нет</div>
					<div class="search-results__sort" v-show="filteredList.length > 0">
						<div class="filter filter--sort">
							<select v-model="sortType" class="form-input form-input--select">
								<option value="0" disabled selected>Сортировка</option>
								<option value="priceUp">Цена ↑</option>
								<option value="priceDown">Цена ↓</option>
							</select>
						</div>
					</div>
					<transition-group 
					    mode="out-in" 
					    name="search-transition" 
					    tag="div" 
					    class="search-results__wrapper"
					>
						{% include 'item_vue' %}
						</transition-group>
					</div>
				</div>
			</div>
		</div>
		<div class="search-item search-item--map">
			<span class="search-switchmode" @click="scrollToList">Список</span>
			<div id="map" style="width: 100%; height: calc(100vh);"></div>
		</div>
	</div>
</section>
<script src="https://api-maps.yandex.ru/2.1/?apikey=b303c4d1-e74e-4a8d-942f-15e384f9386b&lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
	
    ymaps.ready(init);
    function init(){
        // Создание карты.
		window.myMap = new ymaps.Map('map', {
			center: [55.830572, 37.631125],
			controls: ['zoomControl'],
            zoom: 15
        }, {
            searchControlProvider: 'yandex#search'
        })
		
        window.objectManager = new ymaps.ObjectManager({
			clusterize: true,
			gridSize: 32,
			//clusterDisableClickZoom: true,
            //geoObjectOpenBalloonOnClick: false,
            clusterOpenBalloonOnClick: false
		});
		
		objectManager.objects.options.set('preset', 'islands#redStretchyIcon')
		objectManager.clusters.options.set('preset', 'islands#redClusterIcons')
		
		const json = { 
		   "type":"FeatureCollection",
		   "features":[ 
				{ 
					"type":"Feature",
					"id":0,
					"geometry":{ 
					"type":"Point",
					"coordinates":[ 
						53.215555,
					    50.187128
					]
					},
					"properties":{ 
						"balloonContentHeader":"<font size=3><b><a target='_blank' href='https://yandex.ru'>Здесь может быть ваша ссылка</a></b></font>",
						"balloonContentBody":"<p>Ваше имя: <input name='login'></p><p><em>Телефон в формате 2xxx-xxx:</em>  <input></p><p><input type='submit' value='Отправить'></p>",
						"balloonContentFooter":"<font size=1>Информация предоставлена: </font> <strong>этим балуном</strong>",
						"clusterCaption":"<strong><s>Еще</s> одна</strong> метка",
						"hintContent":"<strong>Текст  <s>подсказки</s></strong>"
					}
				}
		  	]
		 }
		
		
		//objectManager.objects.options.set('preset', 'islands#greenDotIcon');
		//objectManager.clusters.options.set('preset', 'islands#greenClusterIcons');
		myMap.geoObjects.add(objectManager);

		let circle = new ymaps.Circle([[53.193936, 50.200425], 10000], null, { draggable: true });
        
    
		//objectManager.add(json);
		
		
		
		document.addEventListener('redrawMap', function(e) {
			objectManager.removeAll()
			//console.log(e.detail)
			
			objectManager.add(e.detail);
			let objects = ymaps.geoQuery(e.detail)
			/*myMap.geoObjects.add(new ymaps.Placemark([53.201717, 50.141131], {
            balloonContent: 'цвет <strong>влюбленной жабы</strong>'
        }, {
            preset: 'islands#circleIcon',
            iconColor: '#3caa3c'
        }));*/
			function findInside() {
				// Объекты, попадающие в круг, будут становиться красными.
				let objectsInsideCircle = objects.searchInside(circle);
				//console.log(objectsInsideCircle)
				//objectsInsideCircle.setOptions('preset', 'islands#redIcon');
				//console.log([...objectsInsideCircle].forEach(e => console.log(e.properties.get("myID"))))
				// Оставшиеся объекты - синими.
				let itemsInsideRadius = []
				objectsInsideCircle.each(e => itemsInsideRadius.push(e.properties._data.data.object_id))
				window.App.raduisFilterItems = itemsInsideRadius
				//objects.remove(objectsInsideCircle).setOptions('preset', 'islands#blueIcon');
			}
			//circle.events.add('dragend', findInside);
			//myMap.geoObjects.add(circle);
			
			
		})
		
		
			
			//findInside();
		
		
		//circle.events.fire('dragend')
		
		
		
    }
	
	
	
</script>

{% include 'footer' %}
<script src="https://cdn.jsdelivr.net/npm/vue-slider-component@3.1.4/dist/vue-slider-component.umd.min.js"></script>
<script src="/site/theme/js/search_common.js"></script>

{% endif %}