{% set query = request.input.query|split(' ') %}
{% set city = request.input.city %}
{% set cat = request.input.cat %}

{% set homepage = page %}
{% set index = page %}
{% set check = true %}
{% for items in 1..10 if check %}
	{% if index.parent_page|length > 0 %}
		{% set index = index.parent_page %}
		{% set homepage = index %}
	{% else %}
		{% set check = false %}
	{% endif %}
{% endfor %}	

{% set items = [] %}

{% for subpage1 in homepage.active_sub_pages %}
		{% set items = items|merge([subpage1]) %}
	{% if subpage1.active_sub_pages|length > 0 %}
		{% for subpage2 in subpage1.active_sub_pages %}
				{% set items = items|merge([subpage2]) %}
			{% if subpage2.active_sub_pages|length > 0 %}
				{% for subpage3 in subpage2.active_sub_pages %}
						{% set items = items|merge([subpage3]) %}
					{% if subpage3.active_sub_pages|length > 0 %}
						{% for subpage4 in subpage3.active_sub_pages %}
								{% set items = items|merge([subpage4]) %}
							{% if subpage4.active_sub_pages|length > 0 %}
								{% for subpage5 in subpage4.active_sub_pages %}
										{% set items = items|merge([subpage5]) %}
									{% if subpage5.active_sub_pages|length > 0 %}
										{% for subpage6 in subpage5.active_sub_pages %}
												{% set items = items|merge([subpage6]) %}
										{% endfor %}
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}

{% set cities = null %}

{% for item in items if not cities %}
	{% if item.id == 63 %}
		{% set cities = item %}
	{% endif %}
{% endfor %}

{% set currentCity = null %}
{% set currentCat = null %}

{% set tmpItems = [] %}

{% if city and cat %}
	{% for cit in cities.active_sub_pages %}
		{% if cit.id == city %}
			{% set currentCity = cit %}
		{% endif %}
	{% endfor %}
	{% for cate in currentCity.active_sub_pages %}
		{% if cat == cate.field_cat_id %}
			{% set currentCat = cate %}
		{% endif %}
	{% endfor %}
	{% for item in currentCat.active_sub_pages %}
		{% set tmpItems = tmpItems|merge([item]) %}
	{% endfor %}
{% endif %}

{% if not cat and city %}
	{% for cit in cities.active_sub_pages %}
		{% if cit.id == city %}
			{% set currentCity = cit %}
		{% endif %}
	{% endfor %}
	{% for cate in currentCity.active_sub_pages %}
		{% for item in cate.active_sub_pages %}
			{% set tmpItems = tmpItems|merge([item]) %}
		{% endfor %}
	{% endfor %}
{% endif %}

{% if cat and not city %}
	{% set tmpCats = [] %}
	{% for cit in cities.active_sub_pages %}
		{% if cit.active_sub_pages|length > 0 %}
			{% for cate in cit.active_sub_pages %}
				{% if cat == cate.field_cat_id %}
					{% set tmpCats = tmpCats|merge([cate]) %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	{% for tmpCat in tmpCats %}
		{% for item in tmpCat.active_sub_pages %}
			{% set tmpItems = tmpItems|merge([item]) %}
		{% endfor %}
	{% endfor %}
{% endif %}

{% if not cat and not city %}
	{% set tmpCats = [] %}
	{% for cit in cities.active_sub_pages %}
		{% if cit.active_sub_pages|length > 0 %}
			{% for cate in cit.active_sub_pages %}
				{% set tmpCats = tmpCats|merge([cate]) %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	{% for tmpCat in tmpCats %}
		{% for item in tmpCat.active_sub_pages %}
			{% set tmpItems = tmpItems|merge([item]) %}
		{% endfor %}
	{% endfor %}
{% endif %}

{% set queryItems = [] %}

{% if tmpItems|length > 0 %}
	{% if query and query[0] != '' %}
		{% for item in tmpItems %}
			{% set tags = item.field_hashtag|trim|split(',') %}
			{% if tags %}
				{% for tag in tags %}
					{% for que in query %}
						{% if (que|length > 3 and que|lower in tag|lower) or (que|length > 3 and que|lower in item.field_header|lower) %}
							{% set queryItems = queryItems|merge([item]) %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% else %}
		{% set queryItems = tmpItems %}
	{% endif %}
	
{% endif %}

{% if queryItems|length == 0 %}
	{% if query and query[0] != '' %}
		{% for item in items %}
			{% if item.layout_id == 2 %}
				{% set tags = item.field_hashtag|trim|split(',') %}
				{% if tags %}
					{% for tag in tags %}
						{% for que in query %}
							{% if (que|length > 3 and que|lower in tag|lower) or (que|length > 3 and que|lower in item.field_header|lower) %}
								{% set queryItems = queryItems|merge([item]) %}
							{% endif %}
						{% endfor %}
					{% endfor %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% set finalItems = [] %}
{% set allItems = [] %}

{% for qitem in queryItems %} 
	{% if qitem.id not in finalItems %}
		{% set finalItems = finalItems|merge([qitem.id]) %}
		{% set allItems = allItems|merge([qitem]) %}
	{% endif %}
{% endfor %}

{% if allItems|length > 0 %}
	{% for item in allItems %}
		{% include 'item_cat_blog' %}
	{% endfor %}
{% else %}
	<h2 style="text-align: center; color: #fff;">По вашему запросу результатов нет</h2>
{% endif %}

