{% if request.input.json == 'yes' %}

	{% set items = page.active_sub_pages %}

	{% if request.input.query %}
		{% set query = request.input.query|split(' ') %}
		{% set results = [] %}

		{% for item in items %}
			{% if query|length > 0 %}
				{% for que in query %}
					{% if que|slice(0, -1)|length >= 3 and que|slice(0, -1)|lower in item.field_header|lower %}
						{% set results = results|merge([item]) %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		{% set items = results %}		

	{% endif %}

	{% set uniqResults = [] %}
	{% set uniqIDs = [] %}

	{% if items|length > 0 %}
		{% for item in items %}
			{% if item.id not in uniqIDs %}
				{% set uniqResults = uniqResults|merge([item]) %}
				{% set uniqIDs = uniqIDs|merge([item.id]) %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% set items = uniqResults %}

<div id="ajax-answer" data-answer="{$ uniqResults|json_encode() $}" {% if results|length == 0 and query[0] != '' %}data-empty="1"{% endif %}></div>

{% else %}

{% include 'header' %}
<div class="data-pages" style="display: none;" data-answer="{$ page.active_sub_pages|json_encode() $}" {% if page.active_sub_pages|length == 0 and query[0] != '' %}data-empty="1"{% endif %}></div>
<section class="search" id="v-search-root" data-find-inset="1" data-lid="{$ page.layout_id $}">
	<div class="search__wrapper" :class="{'search__wrapper--fw': isFullWidthLayout}">
		<div v-show="isSearchShowlist" class="search-item search-item--list">
			<div class="search-filters-cat" :class="{'search-filters-cat--active': isCatFiltersShow}">
				<div class="search-filters-cat__actions">
					<button class="icon-btn filter_btn" @click="isCatFiltersShow = !isCatFiltersShow">
						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none"><path d="M18.3235 2.62752C18.714 2.23699 18.714 1.60383 18.3235 1.2133C17.933 0.822779 17.2998 0.822779 16.9093 1.2133L9.58343 8.53918L2.25764 1.21339C1.86712 0.822866 1.23396 0.822865 0.84343 1.21339C0.452906 1.60391 0.452906 2.23708 0.84343 2.6276L8.16922 9.95339L0.843499 17.2791C0.452975 17.6696 0.452974 18.3028 0.843499 18.6933C1.23402 19.0838 1.86719 19.0838 2.25771 18.6933L9.58343 11.3676L16.9092 18.6934C17.2998 19.0839 17.9329 19.0839 18.3235 18.6934C18.714 18.3029 18.714 17.6697 18.3235 17.2792L10.9976 9.95339L18.3235 2.62752Z" fill="#2D2727"/></svg>
					</button>
					<button class="search-filters-btn-showitems" :disabled="filteredItems.length == 0" @click="isCatFiltersShow = !isCatFiltersShow">
						<span v-if="filteredItems.length != 0">Показать {{filteredItems.length}} элементов</span>
						<span v-else>0 элементов</span>
					</button>
				</div>
				<div class="serch-filters-main-cat__wrapper">
					<div class="filters__wrapper">
						<div class="filter__group">
							<div class="filter filter--hotels-type">
								<div class="filter__title">Тип</div>
								<div class="filter-radios">
									<div class="filter-radio">
										<input type="radio" value="" name="cat-filter-hotels-type" @change="selectedCatFilters.hotels.type.items = []" id="cat-filter-hotels-type-0">
										<label for="cat-filter-hotels-type-0">Все</label>
									</div>
									<div class="filter-radio" v-for="(item,i) in catFilters.hotels.types">
										<input type="radio" :value="item.value" name="cat-filter-hotels-type" @change="selectedCatFilters.hotels.type.items = [item.value]" :id="`cat-filter-hotels-type-${i + 1}`">
										<label :for="`cat-filter-hotels-type-${i + 1}`">{{item.name}}</label>
									</div>
								</div>
							</div>
							<div class="filter filter--hotels-food">
								<div class="filter__title">Питание</div>
								<div class="filter-radios">
									<div class="filter-radio" v-for="(item,i) in catFilters.hotels.food">
										<input type="checkbox" :value="item.value" name="cat-filter-hotels-food" v-model="selectedCatFilters.hotels.food.items" :id="`cat-filter-hotels-food-${i + 1}`">
										<label :for="`cat-filter-hotels-food-${i + 1}`">{{item.name}}</label>
									</div>
								</div>
							</div>
							<div class="filter filter--hotels-stars">
								<div class="filter__title">Количество звезд</div>
								<div class="filter-radios">
									<div class="filter-radio" v-for="(item,i) in catFilters.hotels.stars">
										<input type="checkbox" :value="item.value" name="cat-filter-hotels-stars" v-model="selectedCatFilters.hotels.stars.items" :id="`cat-filter-hotels-stars-${i + 1}`">
										<label :for="`cat-filter-hotels-stars-${i + 1}`">{{ '☆'.repeat(Number(item.value)) }}</label>
									</div>
								</div>
							</div>
							<div class="filter filter--price">
								<div class="filter-slider">
									<vue-slider 
										ref="filter-pricerange"
										v-model="selectedCatFilters.common.price.range" 
										:min="selectedCatFilters.common.price.min" 
										:max="selectedCatFilters.common.price.max"
										:enable-cross="false"
										:tooltip="'always'"
										:tooltip-formatter="selectedCatFilters.common.price.format"
										:min-range="1"
										:contained="true"
										:lazy="true"
									></vue-slider>
								</div>
								<div class="filter__title filter__title--bottom">Цена</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="search-main">
				<div class="search-top">
					<div class="cont">
						<h1 style="font-size:24px; padding-left: 15px; font-weight: 100; text-transform: uppercase;">{$ page.field_header $}</h1>
					</div>
				</div>
				<div class="search-totop" @click="scrollToMap">Карта</div>
				<div class="search-filters">
					<div class="cont">
						<div class="flexer flexer--jcb flexer--aic">
							{% include 'cityswitcher' %}
							<div>
							<button class="icon-btn filter_btn" @click="isCatFiltersShow = !isCatFiltersShow">
								<svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.259521 3.46436C0.259521 2.91207 0.707237 2.46436 1.25952 2.46436H20.2595C20.8118 2.46436 21.2595 2.91207 21.2595 3.46436C21.2595 4.01664 20.8118 4.46436 20.2595 4.46436H1.25952C0.707237 4.46436 0.259521 4.01664 0.259521 3.46436Z" fill="#2D2727"/><line x1="1.25952" y1="14.4644" x2="20.2595" y2="14.4644" stroke="#2D2727" stroke-width="2" stroke-linecap="round"/><circle cx="7.25952" cy="14.4644" r="2.95605" fill="#2D2727"/><circle cx="14.3887" cy="3.46436" r="2.95605" fill="#2D2727"/></svg>
							</button>
							</div>	
						</div>
						<div class="filters">
							<div class="filters__wrapper">
								<div class="filter__group">
									<div class="filter filter--tags">
										<div class="tagsearch__input">
											<vue-tags-input
												v-model="tag"
												:tags="tags"
												:autocomplete-items="filteredTags"
												@tags-changed="newTags => tags = newTags"
												placeholder="Поиск..."
											/>
										</div>
									</div>
								</div>
								<!--div class="filter__group">
									<div class="filter filter--search">
										<input 
											type="text" 
											class="form-input form-input--text" 
											placeholder="Поиск по названиям..."
											@input="inputHandler"
											v-model="searchParams.query"
										>
									</div>
								</div>
								<div class="filter__group filter__group--flex">
									<div class="filter filter--date">
										<v-date-picker 
											mode='range' 
											:min-date='new Date()'
											v-model='range'
										/>
									</div>
									<div class="filter filter--sort">
										<select v-model="sortType" class="form-input form-input--select">
											<option value="0" disabled selected>Сортировка</option>
											<option value="priceUp">Цена ↑</option>
											<option value="priceDown">Цена ↓</option>
										</select>
									</div>
								</div-->
							</div>
						</div>

					</div>
				</div>
				<div class="search-list search-list--skeleton" v-if="!isAppLoaded">
					<div class="search-results__wrapper">
						{% for item in 1..4 %}
						<div class="search-card search-card--skeleton">
							<div class="search-card__gallery"></div>
							<div class="search-card__info">
								<div class="search-card__text">
									<div class="search-card__title"></div>
									<div class="search-card__infoblock search-card__infoblock--address"> </div> 
								</div>
								<div class="search-card__actions"></div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="search-list" v-cloak>
					<div class="cont">
						<div class="search-warning" v-show="filteredItems.length == 0" v-cloak>Результатов по вашему запросу нет</div>
						<transition-group 
					    mode="out-in" 
					    name="search-transition2" 
					    tag="div" 
					    class="search-results__wrapper"
					>
						{% include 'item_vue' %}
						</transition-group>
					</div>
				</div>
			</div>
		</div>
		<div class="search-item search-item--map">
			<span class="search-switchmode" @click="scrollToList">Список</span>
			<div id="map" style="width: 100%; height: calc(100vh);"></div>
		</div>
	</div>
</section>
<script src="https://api-maps.yandex.ru/2.1/?apikey=b303c4d1-e74e-4a8d-942f-15e384f9386b&lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
	
    ymaps.ready(init);
    function init(){
        // Создание карты.
		window.myMap = new ymaps.Map('map', {
			center: [{$ page.parent_page.field_coords $}],
			controls: ['zoomControl'],
			zoom: {$ page.parent_page.field_initial_zoom ? page.parent_page.field_initial_zoom : 12 $}
        }, {
            searchControlProvider: 'yandex#search'
        })
		
        var	objectManager = new ymaps.ObjectManager({
			clusterize: true,
			gridSize: 32,
			//clusterDisableClickZoom: true,
            //geoObjectOpenBalloonOnClick: false,
            clusterOpenBalloonOnClick: false
		});
		
		
		
		objectManager.objects.options.set('preset', 'islands#redStretchyIcon')
		objectManager.clusters.options.set('preset', 'islands#redClusterIcons')
		
		//console.log(objectManager.objects)
		
		function onObjectEvent (e) {
			
			var objectId = e.get('objectId');
			if (e.get('type') == 'mouseenter') {
				objectManager.objects.setObjectOptions(objectId, {
					preset: 'islands#yellowStretchyIcon'
				});
			} else {
				objectManager.objects.setObjectOptions(objectId, {
					preset: 'islands#redStretchyIcon'
				});
			}
			
		}

		function onClusterEvent (e) {
			var objectId = e.get('objectId');
			if (e.get('type') == 'mouseenter') {
				objectManager.clusters.setClusterOptions(objectId, {
					preset: 'islands#yellowClusterIcons'
				});
			} else {
				objectManager.clusters.setClusterOptions(objectId, {
					preset: 'islands#redClusterIcons'
				});
			}
		}

		objectManager.objects.events.add(['mouseenter', 'mouseleave'], onObjectEvent);
		objectManager.clusters.events.add(['mouseenter', 'mouseleave'], onClusterEvent);
		
		const json = { 
		   "type":"FeatureCollection",
		   "features":[ 
				{ 
					"type":"Feature",
					"id":0,
					"geometry":{ 
					"type":"Point",
					"coordinates":[ 
						53.215555,
					    50.187128
					]
					},
					"properties":{ 
						"balloonContentHeader":"<font size=3><b><a target='_blank' href='https://yandex.ru'>Здесь может быть ваша ссылка</a></b></font>",
						"balloonContentBody":"<p>Ваше имя: <input name='login'></p><p><em>Телефон в формате 2xxx-xxx:</em>  <input></p><p><input type='submit' value='Отправить'></p>",
						"balloonContentFooter":"<font size=1>Информация предоставлена: </font> <strong>этим балуном</strong>",
						"clusterCaption":"<strong><s>Еще</s> одна</strong> метка",
						"hintContent":"<strong>Текст  <s>подсказки</s></strong>"
					}
				}
		  	]
		 }
		
		
		//objectManager.objects.options.set('preset', 'islands#greenDotIcon');
		//objectManager.clusters.options.set('preset', 'islands#greenClusterIcons');
		myMap.geoObjects.add(objectManager);

		
		//objectManager.add(json);
		
		
		
		
		document.addEventListener('redrawMap', function(e) {
			objectManager.removeAll()
			//console.log(e.detail)
			let objects = e.detail
			
			/*
			objects.searchInside(myMap)
        // И затем добавим найденные объекты на карту.
				.addToMap(myMap);

			myMap.events.add('boundschange', function () {
				// После каждого сдвига карты будем смотреть, какие объекты попадают в видимую область.
				var visibleObjects = objects.searchInside(myMap).objectManager.add(myMap);
				// Оставшиеся объекты будем удалять с карты.
				objects.remove(visibleObjects).removeFromMap(myMap);
			});
			*/
			
			objectManager.add(e.detail);
			//console.log(objectManager.objects)
			/*myMap.geoObjects.add(new ymaps.Placemark([53.201717, 50.141131], {
            balloonContent: 'цвет <strong>влюбленной жабы</strong>'
        }, {
            preset: 'islands#circleIcon',
            iconColor: '#3caa3c'
        }));*/
		})
		
		
    }
	
	
	
</script>
<!--script src="https://unpkg.com/swiper/swiper-bundle.js"></script-->

<script src="https://cdn.jsdelivr.net/npm/vue-slider-component@3.1.4/dist/vue-slider-component.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script src="/site/theme/js/search_twig.js"></script>
{% include 'footer' %}

{% endif %}