{% if config.pages|default([])|length > 0 %}

	{# calculate column size #}
	{% set size = max(1, (12 / config.pages|length)|round(0, 'floor')) %}

	<div class="row">
		{% block items %}
			{% for item in config.pages %}
				<div class="col-sm-{$ size $}">
					{% block item %}
						<div class="thumbnail">
							<div class="caption">
								<h3>
									<a href="{$ item.path $}">{$ item.title $}</a>
								</h3>
							</div>
						</div>
					{% endblock %}
				</div>
			{% endfor %}
		{% endblock %}
	</div>

{% endif %}
