/*.block.position-main_top {
	background: #f0f0f0;
	padding: 30px 0 10px;
}*/

.grid-cover.position-main_top {
	margin: 0 -15px;
}

.position-main_top > .grid-col {
	padding: 0 15px;
}

/*.block.position-main_top .module-heading {
	font-size: 24px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: 'Cuprum', sans-serif;
}*/

.grid-col.position-city .module.type-announcement.layout-city .module-heading span:first-child {
	color: #00c1f5;
	display: block;
	font-size: 36px;
	line-height: 36px;
	text-transform: none;
}
.grid-col.position-city .title a {color:#fff;}
.grid-col.position-city .title a:hover {color:#dbb448;}
.grid-col.position-city .module.type-announcement.layout-city li a,
.grid-col.position-city .module.type-announcement.layout-city li a.active {
	background:none;
}
.grid-col.position-city .module.type-announcement.layout-city li:hover a {
	background:none;
}
.grid-col.position-city .module.type-announcement.layout-city .questions-bar {
	/*background: url('/site/theme/images/support.png') 100% 50% no-repeat;
	margin: -10px 0 10px;
	padding: 10px 0;*/
}

.grid-col.position-city .module.type-announcement.layout-city .questions-bar ul {
	/*background: #72d3ff;
	margin: 0 48px 0 -10000px;
	padding: 0 0 0 10000px;*/
}

.grid-col.position-city .module.type-announcement.layout-city .questions-bar ul > li + li {
	margin-left: 20px;
}

.grid-col.position-city .module.type-announcement.layout-city .questions-bar ul > li > a {
	color: #fff;
	/*line-height: 42px;*/
	text-transform: uppercase;
}

.grid-col.position-city .module.type-announcement.layout-city .questions-bar ul > li.active > a,
.grid-col.position-city .module.type-announcement.layout-city .questions-bar ul > li > a:hover,
.grid-col.position-city .module.type-announcement.layout-city .questions-bar ul > li > a:focus {
	color: #dbb448;
}

.grid-col.position-city .module.type-announcement.layout-city .questions-bar ul > li.active > a:after {
	/*border: transparent solid 6px;
	border-bottom-color: #f0f0f0;
	content: '';
	display: block;
	height: 12px;
	margin: -12px auto 0;
	width: 12px;*/
}

.grid-col.position-city .module.type-announcement.layout-city .search {
	background-image: url('/site/theme/images/zoom.png');
	background-position: 97% 50%;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	max-width: 355px;
	padding-right: 40px;
}

.grid-col.position-city .module.type-announcement.layout-city .tab-pane {
	max-height: 160px;
	overflow: hidden;
	position: relative;
	max-width: 700px;
}

.grid-col.position-city .module.type-announcement.layout-city .question {
	margin-top: 10px;
	    float: left;
    padding-right: 15px;
}

