.grid-col.position-content .module.type-announcement.layout-city .media-img,
.grid-col.position-content .module.type-announcement.layout-route .media-img {
	float:left;
}
.grid-col.position-content .module.type-announcement.layout-city .title,
.grid-col.position-content .module.type-announcement.layout-route .title {
	float:left;
	font-family: 'Cuprum', sans-serif;
    font-size: 30px;
	padding-left: 30px;
}

.grid-col.position-content .module.type-announcement.layout-city .media-img .pull i,
.grid-col.position-content .module.type-announcement.layout-route .media-img .pull i {
    color: #fff;
    position: absolute;
    font-size: 50px;
    margin-left: -25px;
    transition: 0.5s;
    opacity: 0;
}
.grid-col.position-content .module.type-announcement.layout-city .media-img .pull:hover i,
.grid-col.position-content .module.type-announcement.layout-route .media-img .pull:hover i{
	transition: 0.5s;
	padding-top:15%;
	margin-top:-25px;
	opacity:0.8;
}

.grid-col.position-content .module.type-announcement.layout-city .media-img .pull img,
.grid-col.position-content .module.type-announcement.layout-route .media-img .pull img {
	transition: 0.5s;
}
.grid-col.position-content .module.type-announcement.layout-city .media-img .pull:hover img,
.grid-col.position-content .module.type-announcement.layout-route .media-img .pull:hover img {
	transition: 0.5s; opacity:0.5;
}

.display-none {
    display: none;
}

/*.block.position-main_top {
	background: #f0f0f0;
	padding: 30px 0 10px;
}*/

.grid-cover.position-main_top {
	margin: 0 -15px;
}

.position-main_top > .grid-col {
	padding: 0 15px;
}

/*.block.position-main_top .module-heading {
	font-size: 24px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: 'Cuprum', sans-serif;
}*/

.module.type-announcement.layout-city .module-heading span:first-child,
.module.type-announcement.layout-route .module-heading span:first-child {
	color: #00c1f5;
	display: block;
	font-size: 36px;
	line-height: 36px;
	text-transform: none;
}
.grid-col.position-content .title a {color:#fff;}
.grid-col.position-content .title a:hover {color:#dbb448;}

.module.type-announcement.layout-city li a,
.module.type-announcement.layout-city li a.active,
.module.type-announcement.layout-route li a,
.module.type-announcement.layout-route li a.active {
	background:none;
}
.module.type-announcement.layout-city li:hover a,
.module.type-announcement.layout-route li:hover a {
	background:none;
}
.module.type-announcement.layout-city .questions-bar,
.module.type-announcement.layout-route .questions-bar {
	/*background: url('/site/theme/images/support.png') 100% 50% no-repeat;
	margin: -10px 0 10px;
	padding: 10px 0;*/
}

.module.type-announcement.layout-city .questions-bar ul,
.module.type-announcement.layout-route .questions-bar ul {
	/*background: #72d3ff;
	margin: 0 48px 0 -10000px;
	padding: 0 0 0 10000px;*/
}

.module.type-announcement.layout-city .questions-bar ul > li + li,
.module.type-announcement.layout-route .questions-bar ul > li + li {
	margin-left: 20px;
}

.module.type-announcement.layout-city .questions-bar ul > li > a,
.module.type-announcement.layout-route .questions-bar ul > li > a {
	color: #fff;
	/*line-height: 42px;*/
	text-transform: uppercase;
}

.module.type-announcement.layout-city .questions-bar ul > li.active > a,
.module.type-announcement.layout-city .questions-bar ul > li > a:hover,
.module.type-announcement.layout-city .questions-bar ul > li > a:focus,
.module.type-announcement.layout-route .questions-bar ul > li.active > a,
.module.type-announcement.layout-route .questions-bar ul > li > a:hover,
.module.type-announcement.layout-route .questions-bar ul > li > a:focus{
	color: #dbb448;
}

.module.type-announcement.layout-city .questions-bar ul > li.active > a:after,
.module.type-announcement.layout-route .questions-bar ul > li.active > a:after{
	/*border: transparent solid 6px;
	border-bottom-color: #f0f0f0;
	content: '';
	display: block;
	height: 12px;
	margin: -12px auto 0;
	width: 12px;*/
}

.module.type-announcement.layout-city .search,
.module.type-announcement.layout-route .search {
	background-image: url('/site/theme/images/zoom.png');
	background-position: 97% 50%;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	max-width: 355px;
	padding-right: 40px;
}

.module.type-announcement.layout-city .tab-pane,
.module.type-announcement.layout-route .tab-pane{
	/*max-height: 160px;
	overflow: hidden;
	position: relative;
	max-width: 700px;*/
}

.module.type-announcement.layout-city .question,
.module.type-announcement.layout-route .question {
	margin-top: 10px;
	    float: left;
    padding-right: 15px;
}

