{% extends '_.admin.form' %}

{% block fields %}

	<div class="row">

		<div class="col-sm-6">

			<div class="row">
				<div class="col-sm-4">
					<ns-integer alias="id" disabled item="item" label="ID" ng-show="item.id" size="6"></ns-integer>
				</div>
				<div class="col-sm-8">
					<ns-string alias="name" item="item" label="Название" size="9"></ns-string>
				</div>
			</div>

		</div>

	</div>

{% endblock %}
