{% if config.pages|default([])|length > 0 %}

	<script src="/packages/perfect-scrollbar/0.4.11/min/perfect-scrollbar.with-mousewheel.min.js"></script>
	<link rel="stylesheet" href="/packages/perfect-scrollbar/0.4.11/min/perfect-scrollbar.min.css">
	<script>
		$(function() {
			$('.module.announcement.layout_city .tab-pane').perfectScrollbar();
		});
	</script>

	<div class="questions-bar">
		<ul class="nav nav-pills" role="tablist">
			{% for category in config.pages %}
				<li
					{% if loop.index == 1 %}
						class="active"
					{% endif %}
				>
					<a data-toggle="tab" href="#faq_{$ category.id $}" role="tab">
						
						{$ category.title $}
					
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<input class="search form-control" placeholder="Поиск направления" type="text">

	<div class="tab-content">
		{% for category in config.pages %}
			<div
				class="
					tab-pane
					{% if loop.index == 1 %}
						active
					{% endif %}
				"
				id="faq_{$ category.id $}"
			>
				{% for city in category.active_sub_pages.sortBy('order')|default([]) %}
					<div class="question">
						
						{% if city.field_image|default('') %}
							<div class="media-img">
								<a class="pull" href="{$ city.field_link $}">
									<div class="icon"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
									<img class="media-object" src="/site/data/images/medium/{$ city.field_image $}">	
								</a>
							</div>
						{% endif %}
						
						
						<div class="title">
							<a href="#">
								{$ city.title $}
							</a><div id="weather{$ city.id $}" class="weather"></div>
						</div>
							

						
						
						
						
						
						
						
						
						
<script>
// v3.1.0
//Docs at http://simpleweatherjs.com
$(document).ready(function() {
  $.simpleWeather({
    location: '{$ city.field_location $}',
    woeid: '',
    unit: 'C',
    success: function(weather) {
      html = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</h2>';
      //html += '<ul><li>'+weather.city+', '+weather.region+'</li>';
      //html += '<li class="currently">'+weather.currently+'</li>';
      //html += '<li>'+weather.wind.direction+' '+weather.wind.speed+' '+weather.units.speed+'</li></ul>';
  
      $("#weather{$ city.id $}").html(html);
    },
    error: function(error) {
      $("#weather{$ city.id $}").html('<p>'+error+'</p>');
    }
  });
});
</script>
						<div class="display-none answer">
							{$ city.field_content|raw $}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>

{% endif %}

<script>
// faq begin
	var MIN_WORD_LENGTH = 3;
	
	
	$('.module.type-announcement.layout-route').each(function(index, node) {
		var module = $(node);
		var answers = module.find('.answer');
		var search = module.find('.search');
		var questions = module.find('.question');
		
		search.on('keyup', function() {
			questions.show();

			var words = [];
			$.each(search.val().toLowerCase().split(/[^\w\u00C0-\u1FFF\u2C00-\uD7FF]/), function(index, word) {
				if (word.length >= MIN_WORD_LENGTH) {
					words.push(word);
				}
			});
			
			if (words.length > 0) {
				questions.each(function(index, node) {
					var question = $(node);
					var hide = true;
					var title = question.find('.title a').text().toLowerCase();
					
					$.each(words, function(index, word) {
						if (title.indexOf(word) >= 0) {
							hide = false;
						}
					});
					
					if (hide) {
						question.hide();
					}
				});
			}
		});
		
		questions.each(function(index, node) {
			var question = $(node);
			var title = question.find('.title a');
			var answer = question.find('.answer');

			/*title.click(function(event) {
				event.preventDefault();
				
				if (answer.is(':hidden')) {
					answers.finish().slideUp();
					answer.finish().slideDown();
				}
			});*/
		});
	});
	// faq end
</script>

