{% set homepage = page %}
{% set index = page %}
{% set check = true %}
{% for items in 1..10 if check %}
	{% if index.parent_page|length > 0 %}
		{% set index = index.parent_page %}
		{% set homepage = index %}
	{% else %}
		{% set check = false %}
	{% endif %}
{% endfor %}	

{% set items = [] %}

{% for subpage1 in homepage.active_sub_pages %}
		{% set items = items|merge([subpage1]) %}
	{% if subpage1.active_sub_pages|length > 0 %}
		{% for subpage2 in subpage1.active_sub_pages %}
				{% set items = items|merge([subpage2]) %}
			{% if subpage2.active_sub_pages|length > 0 %}
				{% for subpage3 in subpage2.active_sub_pages %}
						{% set items = items|merge([subpage3]) %}
					{% if subpage3.active_sub_pages|length > 0 %}
						{% for subpage4 in subpage3.active_sub_pages %}
								{% set items = items|merge([subpage4]) %}
							{% if subpage4.active_sub_pages|length > 0 %}
								{% for subpage5 in subpage4.active_sub_pages %}
										{% set items = items|merge([subpage5]) %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}

{% set cities = null %}

{% for item in items if not cities %}
	{% if item.id == 63 %}
		{% set cities = item %}
	{% endif %}
{% endfor %}

{% set cats = [] %}

{% for city in cities.active_sub_pages %}
	{% if city.active_sub_pages|length > 0 %}
		{% for cat in city.active_sub_pages %}
			{% set cats = cats|merge([cat]) %}
		{% endfor %}
	{% endif %}
{% endfor %}

{% set uniqCats = [] %}
{% set uniqCatsIds = [] %}

{% for item in cats %}
	{% for xxx in item.layout.fields %}
		{% for sel in xxx.selects %}
			{% for opt in sel.options %}
				{% if opt.id not in uniqCatsIds %}
					{% set uniqCatsIds = uniqCatsIds|merge([opt.id]) %}
					{% set uniqCats = uniqCats|merge([opt]) %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endfor %}

<form id="finder">
	<div class="finder__item finder__item--query">
		<input type="text" name="finder__query" placeholder="Найди своё путешествие">
	</div>
	<div class="finder__item finder__item--city">
		<select name="finder__city">
			<option value="">Все города</option>
			{% for city in cities.active_sub_pages %}
				<option value="{$ city.id $}">{$ city.title $}</option>
			{% endfor %}
		</select>
	</div>
	<div class="finder__item finder__item--category">
		<select name="finder__cat">
			<option value="">Все объекты</option>
			{% for cat in uniqCats %}
				<option value="{$ cat.id $}">{$ cat.name $}</option>
			{% endfor %}
		</select>
	</div>
	<div class="finder__item finder__item--submit">
		<button type="submit" class="fa fa-search fa-flip-horizontal"></button>
	</div>
</form>