{% extends '_.root' %}

{% block title %}Обновление системы{% endblock %}

{% block body %}
	<p>Идет обновление системы.</p>
	<p>Пожалуйста, перезагрузите страницу через несколько минут.</p>
{% endblock %}
