{% extends '_.admin.form' %}

{% block fields %}

	<div class="row">

		<div class="col-sm-2">
			<ns-integer alias="id" disabled item="item" label="ID" ng-show="item.id" size="6"></ns-integer>
		</div>

		<div class="col-sm-3">
			<ns-option alias="module_type_id" item="item" label="Тип модуля" options="list.moduleTypes" size="8"></ns-option>
		</div>

		<div class="col-sm-3">
			<ns-string alias="alias" item="item" label="Алиас" size="8"></ns-string>
		</div>

		<div class="col-sm-4">
			<ns-string alias="name" item="item" label="Название" size="9"></ns-string>
		</div>

	</div>

	<ns-code
		alias="code"
		item="item"
		method="put"
		size="12"
		url="{{ item.id ? url.admin + '/' + request.segments[1] + '/' + item.id : null }}"
	></ns-code>

{% endblock %}
